<footer th:fragment="mainFooter">
            <div class="pull-right">
              Copyright © 2019 SNBPLUS. All rights reserved
            </div>
            <div class="clearfix"></div>
</footer> 
