
  <head th:fragment="mainHead"> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>S&#38;B Plus</title>

    <!-- Bootstrap -->
    <link href="/resource/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Font Awesome -->
    <link href="/resource/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- NProgress -->
    <link href="/resource/vendors/nprogress/nprogress.css" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="/resource/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet"/>
    <link href="/resource/vendors/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet"/>
    <link href="/resource/vendors/fullcalendar/dist/fullcalendar.print.css" rel="stylesheet" media="print"/>
        <!-- bootstrap-datetimepicker -->
    <link href="/resource/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    
    <!-- Animate.css -->
    <link href="/resource/vendors/animate.css/animate.min.css" rel="stylesheet"/>

    <!-- Custom Theme Style -->
    <link href="/resource/build/css/custom.css" rel="stylesheet"/>
    
     <!-- Common Theme Style -->
    <link href="/resource/build/css/common.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/resource/dist/js/intranet.js"></script>
    
  


    
    <!-- csrf 토큰 -->
 

  </head>