<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/body">
  <!-- index.html 고유 CSS 추가 -->
	<body>
	     <div layout:fragment="content">
	        <!-- page content -->
	        <div class="right_col" role="main">
	            <div class="">
	                <div class="page-title">
	                    <div class="title_left">
	                        <h3>업체리스트</h3>
	                    </div>
	
<!--	                    <div class="title_right">-->
<!--	                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">-->
<!--	                        <div class="input-group">-->
<!--	                            <input type="text" class="form-control" placeholder="Search for..."/>-->
<!--	                            <span class="input-group-btn">-->
<!--	                            <button class="btn btn-default" type="button">Go!</button>-->
<!--	                            </span>-->
<!--	                        </div>-->
<!--	                        </div>-->
<!--	                    </div>-->
	                </div>
	                
	                <div class="clearfix"></div>
	
	                <div class="row clear">
	                    <div class="col-md-12 col-sm-12 col-xs-12">
	                        <div class="x_panel">
	                            <div class="x_title">
	                            <h2>업체리스트</h2>
	                            <ul class="nav navbar-right panel_toolbox">
	                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                                </li>
	                            </ul>
	                            <div class="clearfix"></div>
	                            </div>
	                            <div class="x_content">
	                                <table class="h_table">
	                                    <thead>
	                                        <tr>
	                                            <th>번호</th>
	                                            <th>영업자</th>
	                                            <th>업체명</th>
	                                            <th>사업자번호</th>
	                                            <th>대표자</th>
	                                            <th>대표 전화</th>
	                                            <th>주소</th>
	                                            <th>업체담당자</th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                        <tr th:each="company : ${companyList} " th:onclick="|javascript:page('${company.id}')|" style="cursor:pointer">
	                                            <td th:text="${company.id}"></td>
	                                            <td th:text="${company.representName}"></td>
	                                            <td th:text="${company.companyName}"></td>
	                                            <td th:text="${company.registerNo}"></td>
	                                            <td th:text="${company.representName}"></td>
	                                            <td th:text="${company.representNo}"></td>
	                                            <td th:text="${company.headOfficeAddress}"></td>
	                                            <td>담당없음</td>
	                                        </tr>
	                                    </tbody>
	                                </table>
	                                <div class="table_btns">
	                                    <ul>
	                                        <li><button class="btn btn-success" onclick="location.href='/company/write'">등록</button></li>
	                                        <!-- <li><button class="btn btn-primary">수정</button></li>
	                                        <li><button class="btn btn-danger">삭제</button></li>
	                                        <li><button class="btn btn-default">목록으로</button></li> -->
	                                    </ul>       
	                                </div>
	                                <div class="clearfix"></div>
									<!--  pagination -->
	                                <div th:if="${companyList.totalPages > 0}" class="dataTables_paginate paging_simple_numbers">
	                                    <ul class="pagination">
	                                        <li th:class="${companyList.number eq 0}?'disabled':''" class="paginate_button previous disabled" id="datatable-buttons_previous">
	                                            <a href="#"><i class="fa fa-angle-left"></i></a>
	                                        </li>
	                                        <li th:each="no : ${#numbers.sequence(0, companyList.totalPages-1)}" th:class="${companyList.number eq no}?'active':''" class="paginate_button active">
	                                            <a href="#" th:text="${no+1}"></a>
	                                        </li>
	                                        <li th:class="${companyList.number+1 ge companyList.totalPages}?'disabled':''" class="paginate_button next" id="datatable-buttons_next">
	                                            <a href="#"><i class="fa fa-angle-right"></i></a>
	                                        </li>
	                                    </ul>
	                                </div>
									<!-- /pagination -->
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                
	            </div>
	        </div>

			 <script type="text/javascript">

				 function page(id) {
					 location.href = 'view?id='+id;
				 }

			 </script>

			 <style>
				 .h_table tbody tr:hover td, .table tbody tr:hover th {
					 background-color: #eeeeea;
				 }
			 </style>

        <!-- /page content -->
		</div>
		
		


  </body>
</html>