<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/body">
  <!-- index.html 고유 CSS 추가 -->
	<body>
	     <div layout:fragment="content">
	        <!-- page content -->
	        <form action="/company/updateCompany" method="post" id="companyForm" name="companyForm" onsubmit="return false;" enctype="multipart/form-data">

				<input type="hidden" name="delYn" th:value="${company.delYn}"/>

	        <div class="right_col" role="main">
	            <div class="">
	                <div class="page-title">
	                    <div class="title_left">
	                        <h3>업체리스트 <small th:text="${company.companyName}"></small></h3>
	                    </div>
	
	                    <div class="title_right t_r">
	                        <button class="btn btn-success"  onclick="onSubmit();">수정</button>
	                    </div>
	                </div>
	                
	                <div class="clearfix"></div>
	                
	                <!-- 기본정보 -->
	                <div class="row clear">
	                    <div class="col-md-12 col-sm-12 col-xs-12">
	                        <div class="x_panel">
	                            <div class="x_title">
	                            <h2>기본정보</h2>
	                            <ul class="nav navbar-right panel_toolbox">
	                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                                </li>
	                            </ul>
	                            <div class="clearfix"></div>
	                            </div>
	                            <div class="x_content">
	                                <table class="n_table">
	                                    <colgroup>
	                                        <col width="9%"/>
	                                        <col width="8%"/>
	                                        <col width="17%"/>
	                                        <col width="16%"/>
	                                        <col width="17%"/>
	                                        <col width="16%"/>
	                                        <col width="17%"/>
	                                    </colgroup>
	                                    <tbody>
	                                        
	                                        <tr>
	                                            <input type="hidden" id="id" name="id" th:value="${company.id}"/>
	                                            <th colspan="2">표준산업분류코드</th>
	                                            <td colspan="2"><input type="text" id="industryCode" name="industryCode" th:value="${company.industryCode}"/></td>
	                                            <th>알리바바 등급</th>
	                                            <td colspan="2">
	                                                <select name="rating" id="rating" th:field="*{company.rating}">
	                                                    <option value="">선택</option>
	                                                    <option th:each="rating : ${ratingList}" th:selected="*{rating.key} == ${company.rating}" th:text="${rating.value}" th:value="${rating.key}"> </option> 
	                                                </select>
	                                            </td>
	                                        </tr>
	                                        <tr>
	                                            <th colspan="2">회사명 <i class="fa fa-check fa-red"></i></th>
	                                            <td><input type="text" id="companyName" name="companyName" th:value="${company.companyName}"/></td>
	                                            <th>영문회사명</th>
	                                            <td><input type="text" id="companyEnName" name="companyEnName" th:Value="${company.companyEnName}"/></td>
	                                            <th>사업자등록번호</th>
	                                            <td><input type="text" id="registerNo" name="registerNo" th:value="${company.registerNo}"/></td>
	                                        </tr>
	                                        <tr>
	                                            <th colspan="2">대표자명 <i class="fa fa-check fa-red"></i></th>
	                                            <td><input type="text" id="representName" name="representName" th:value="${company.representName}"/></td>
	                                            <th>대표자 휴대폰</th>
	                                            <td><input type="text" id="representPhoneNo" name="representPhoneNo" th:value="${company.representPhoneNo}"/></td>
	                                            <th>창립일</th>
	                                            <td><input type="text" id="foundationDate" name="foundationDate" th:value="${company.foundationDate}"/></td>
	                                        </tr>
	                                        <tr>
	                                            <th colspan="2">대표 전화 <i class="fa fa-check fa-red"></i></th>
	                                            <td><input type="text" id="representNo" name="representNo" th:value="${company.representNo}"/></td>
	                                            <th>대표 팩스</th>
	                                            <td><input type="text" id="representFax" name="representFax" th:value="${company.representFax}"/></td>
	                                            <th>대표 메일</th>
	                                            <td><input type="email" id="representEmail" name="representEmail" th:value="${company.representEmail}"/></td>
	                                        </tr>
	                                        <tr>
	                                            <th rowspan="3">주소</th>
	                                            <td class="bg_g">본사</td>
	                                            <td colspan="5">
	                                                지역:
	                                                <select name="area" id="area" class="w20p" th:field="*{company.area}">
	                                                    <option value="">선택</option>
	                                                    <option th:each="area : ${areaList}" th:selected="*{area.key} == ${company.area}" th:text="${area.value}" th:value="${area.key}"></option>
	                                                </select>
	                                                <input type="text" class="w70p" id="headOfficeAddress" name="headOfficeAddress" th:value="${company.headOfficeAddress}" />
	                                            </td>
	                                        </tr>
	                                        <tr>
	                                            <td class="bg_g">공장</td>
	                                            <td colspan="5"><input type="text" id="plantAddress" name="plantAddress" th:value="${company.plantAddress}"/></td>
	                                        </tr>
	                                        <tr>
	                                            <td class="bg_g">영문주소</td>
	                                            <td colspan="5"><input type="text" id="engAddress" name="engAddress" th:value="${company.engAddress}"/></td>
	                                        </tr>
	                                        <tr>
	                                            <th colspan="2" rowspan="2">홈페이지</th>
	                                            <td class="t_c bg_g">설명</td>
	                                            <td colspan="4" class="t_c bg_g">주소</td>
	                                        </tr>
	                                        <tr>
	                                            <td><input type="text" id="homepageAddress" name="homepageAddress" th:value="${company.homepageAddress}"/></td>
	                                            <td colspan="4"><input type="text" id="homepageExplain" name="homepageExplain" th:value="${company.homepageExplain}"/></td>
	                                        </tr>
	                                        <tr>
	                                            <th colspan="2">내용<br/>(발굴경로, 업체특성, 담당자 성향 등)</th>
	                                            <td colspan="5"><textarea name="content" id="content" cols="30" rows="10" th:text="${company.content}"></textarea></td>
	                                        </tr>
	                                        <tr>
	                                            <th colspan="2">사업자등록증</th>
	                                            <td colspan="5"> 
	                                            	<a th:if="${file} != null" th:text="|${file.orgFileName}|" th:href="|/file/download/${file.id}|"></a>
	                                            	<a th:unless="${file} != null"></a>
	                                            	<input type="file" name="businessFile" id="businessFile"/>
													<input type="hidden" name="registerFile" th:value="${company.registerFile}"/>
	                                            </td>
	                                        </tr>
	                                    </tbody>
	                                </table>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <!-- /기본정보 -->
	
	                <!-- 담당자 정보 -->
	                <div class="row clear">
	                    <div class="col-md-12 col-sm-12 col-xs-12">
	                        <div class="x_panel">
	                            <div class="x_title">
	                            <h2>담당자 정보</h2>
	                            <ul class="nav navbar-right panel_toolbox">
	                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                                </li>
	                            </ul>
	                            <div class="clearfix"></div>
	                            </div>
	                            <div class="x_content">
	                                <table class="h_table">
	                                    <colgroup>
	                                        <col width="45px"/>
	                                        <col width="3%"/>
	                                        <col width="8%"/>
	                                        <col width="8%"/>
	                                        <col width="8%"/>
	                                        <col width="8%"/>
	                                        <col width="14%"/>
	                                        <col width="14%"/>
	                                        <col width="14%"/>
	                                        <col width="*"/>
	                                        <col width="95px"/>
	                                    </colgroup>
	                                    <thead>
	                                        <tr>
	                                            <th>No.</th>
	                                            <th>홍보대상</th>
	                                            <th>근무</th>
	                                            <th>이름</th>
	                                            <th>직급</th>
	                                            <th>부서</th>
	                                            <th>전화</th>
	                                            <th>휴대폰</th>
	                                            <th>메일</th>
	                                            <th>비고</th>
	                                            <th></th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                        <tr th:each="info,i : ${company.companyInfo}">
												<input type="hidden" th:name="|companyInfo[${i.index}][id]|" th:value="${info.id}"/>
												<input type="hidden" th:name="|companyInfo[${i.index}][companyId]|" th:value="${company.id}"/>
	                                            <td th:text="${info.id}"></td>
	                                            <td>
	                                               <!--   for와 id 값 동일하게 해주시면 됩니다. 그래야지 체크박스가 제대로 작동합니다. -->
	                                                <input type="checkbox" th:id="|customCheck[${i.index}]|" th:name="|companyInfo[${i.index}][promotionYn]|" class="custom_check" value="Y" th:checked="${info.promotionYn} == Y"/>
	                                                <label th:for="|customCheck[${i.index}]|"><span><i class="fa fa-check"></i></span></label>
	                                            </td>
	                                            <td>
	                                                <select th:name="|companyInfo[${i.index}][workState]|" >
	                                                    <option value="">선택</option>
	                                                    <option value="근무" th:selected="${info.workState} == '근무'">근무</option>
	                                                    <option value="퇴사" th:selected="${info.workState} == '퇴사'">퇴사</option>
	                                                </select>
	                                            </td>
	                                            <td>
	                                                <input type="text" th:name="|companyInfo[${i.index}][name]|" th:value="${info.name}"/>
	                                            </td>
	                                            <td>
	                                                <input type="text" th:name="|companyInfo[${i.index}][rank]|" th:value="${info.rank}"/>
	                                                
	                                            </td>
	                                            <td>
	                                                <input type="text" th:name="|companyInfo[${i.index}][dept]|" th:value="${info.dept}"/>
	                                            </td>
	                                            <td>
	                                                <input type="text" th:name="|companyInfo[${i.index}][telNo]|" th:value="${info.telNo}"/>
	                                            </td>
	                                            <td>
	                                                <input type="text" th:name="|companyInfo[${i.index}][phoneNo]|"  th:value="${info.phoneNo}"/>
	                                            </td>
	                                            <td>
	                                                <input type="text" th:name="|companyInfo[${i.index}][email]|" th:value="${info.email}"/>
	                                            </td>
	                                            <td>
	                                                <input type="text" th:name="|companyInfo[${i.index}][etc]|"  th:value="${info.etc}"/>
	                                            </td>
	                                            <td>
	                                                <button class="tbl_row_add"><i class="fa fa-plus"></i></button>
	                                                <button class="tbl_row_remove"><i class="fa fa-minus"></i></button>
	                                                <button class="tbl_row_edit"><i class="fa fa-pencil"></i></button>
	                                            </td>
	                                        </tr>
											<tr  th:if="${#lists.isEmpty(company.companyInfo)}">
												<td>1</td>
												<td>
													<!-- for와 id 값 동일하게 해주시면 됩니다. 그래야지 체크박스가 제대로 작동합니다. -->
													<input type="checkbox" id="customCheck[0]" name="companyInfo[0][promotionYn]" class="custom_check" value="Y"/>
													<label for="customCheck[0]"><span><i class="fa fa-check"></i></span></label>
												</td>
												<td>
													<select name="companyInfo[0][workState]">
														<option value="">선택</option>
														<option value="근무">근무</option>
														<option value="퇴사">퇴사</option>
													</select>
												</td>
												<td>
													<input type="text" name="companyInfo[0][name]"/>
												</td>
												<td>
													<input type="text" name="companyInfo[0][rank]" />
												</td>
												<td>
													<input type="text" name="companyInfo[0][dept]" />
												</td>
												<td>
													<input type="text" name="companyInfo[0][telNo]"/>
												</td>
												<td>
													<input type="text" name="companyInfo[0][phoneNo]"/>
												</td>
												<td>
													<input type="text" name="companyInfo[0][email]"/>
												</td>
												<td>
													<input type="text" name="companyInfo[0][etc]" />
												</td>
												<td>
													<button name="tbl_row_add" class="tbl_row_add"><i class="fa fa-plus"></i></button>
													<button class="tbl_row_remove"><i class="fa fa-minus"></i></button>
													<!--  <button class="tbl_row_edit"><i class="fa fa-pencil"></i></button> -->
												</td>
											</tr>
	                                    </tbody>
	                                </table>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <!-- /담당자 정보 -->
	
	                <!-- 업체자료 -->
	                <div class="row clear">
	                    <div class="col-md-12 col-sm-12 col-xs-12">
	                        <div class="x_panel">
	                            <div class="x_title">
	                            <h2>업체자료</h2>
	                            <ul class="nav navbar-right panel_toolbox">
	                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                                </li>
	                            </ul>
	                            <div class="clearfix"></div>
	                            </div>
	                            <div class="x_content">
	                                <table class="nh_table">
	                                    <colgroup>
	                                        <col width="10%"/>
	                                        <col width="15%"/>
	                                        <col width="15%"/>
	                                        <col width="60%"/>
	                                    </colgroup>
	                                    <thead>
	                                        <tr>
	                                            <th>ID</th>
	                                            <th>실작업</th>
	                                            <th>파일</th>
	                                            <th>비고</th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
<!--	                                        <tr>-->
<!--	                                            <th rowspan="3">1231</th>-->
<!--	                                            <td colspan="2">계약연도_사업명 [계약연도, 계약자명]</td>-->
<!--	                                            <td></td>-->
<!--	                                        </tr>-->
<!--	                                        <tr>-->
<!--	                                            <td>홈페이지</td>-->
<!--	                                            <td><a href="#">회사소개서.pptx</a></td>-->
<!--	                                            <td></td>-->
<!--	                                        </tr>-->
<!--	                                        <tr>-->
<!--	                                            <td>브랜드개발</td>-->
<!--	                                            <td><a href="#">기초자료.hwp</a></td>-->
<!--	                                            <td></td>-->
<!--	                                        </tr>-->
<!--	-->
<!--	                                        <tr>-->
<!--	                                            <th rowspan="2">2357</th>-->
<!--	                                            <td colspan="2">계약연도_사업명 [계약연도, 계약자명]</td>-->
<!--	                                            <td></td>-->
<!--	                                        </tr>-->
<!--	                                        <tr>-->
<!--	                                            <td>홈페이지</td>-->
<!--	                                            <td><a href="#">사진.zip</a></td>-->
<!--	                                            <td></td>-->
<!--	                                        </tr>-->
										<tr>
											<td colspan="4">
												업체 자료가 없습니다
											</td>

										</tr>
	                                    </tbody>
	                                </table>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <!-- /업체자료 -->
	
	                <!-- 이력사항 -->
	                <div class="row clear">
	                    <div class="col-md-12 col-sm-12 col-xs-12">
	                        <div class="x_panel">
	                            <div class="x_title">
	                            <h2>이력사항</h2>
	                            <ul class="nav navbar-right panel_toolbox">
	                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                                </li>
	                            </ul>
	                            <div class="clearfix"></div>
	                            </div>
	                            <div class="x_content">
	                                <table class="h_table">
	                                    <colgroup>
	                                        <col width="45px"/>
	                                        <col width="10%"/>
	                                        <col width="10%"/>
	                                        <col width="10%"/>
	                                        <col width="10%"/>
	                                        <col width="10%"/>
	                                        <col width="10%"/>
	                                        <col width="30%"/>
	                                        <col width="*"/>
	                                    </colgroup>
	                                    <thead>
	                                        <tr>
	                                            <th>No.</th>
	                                            <th>구분</th>
	                                            <th>편할지역</th>
	                                            <th>연도</th>
	                                            <th>사업명</th>
	                                            <th>지원구분</th>
	                                            <th>선/탈</th>
	                                            <th>비고</th>
	                                            <th></th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>

	                                        <tr th:each="historyList,i : ${company.companyHistory}">

												<input type="hidden" th:name="|companyHistory[${i.index}][id]|" th:value="${historyList.id}"/>
												<input type="hidden" th:name="|companyHistory[${i.index}][companyId]|" th:value="${company.id}"/>
	                                            <td th:text="${historyList.id}"></td> 
		                                      
 	                                            <td>
	                                            	<select th:name="|companyHistory[${i.index}][gubun]|" >
	                                            		<option value="">선택</option>
	                                            		<option th:each="gubun : ${gubunList}" th:selected="*{historyList.gubun} == ${gubun.key}" th:text="${gubun.value}" th:value="${gubun.key}"> </option> 
	                                            	</select>
	                                            </td> 
                                                 
	                                            <td>
	                                            	<select th:name="|companyHistory[${i.index}][area]|">
	                                            	 	<option value="">선택</option>
	                                                    <option th:each="area : ${areaList}" th:selected="*{area.key} == ${historyList.area}" th:text="${area.value}" th:value="${area.key}"></option>	                                                
	                                            	</select>
	                                            </td>
                                             
	                                            <td>
	                                            	<select th:name="|companyHistory[${i.index}][year]|">
		                                            	<option value="">선택</option>
		                                            	<option th:each="year : ${yearList}" th:selected="*{year} == ${historyList.year}" th:text="${year}" th:value="${year}"></option>	                                                
	                                            	</select>
	                                            </td>
	                                                                             
	                                            <td>
	                                            	<input type="text" th:name="|companyHistory[${i.index}][businessName]|" th:value="${historyList.businessName}"/>
	                                            	
	                                            </td>
	
	                                            <td>
	                                            	<select th:name="|companyHistory[${i.index}][supportGubun]|">
	                                            		<option value="" th:if="${historyList.supportGubun} ==''" selected="selected">선택</option>
		                                            	<option value="" th:unless="${historyList.supportGubun} ==''" >선택</option>
		                                            	<option value="일반" th:if="${historyList.supportGubun} =='일반'" selected="selected">일반</option>
		                                            	<option value="일반" th:unless="${historyList.supportGubun} =='일반'" >일반</option>
	                                            	</select>
	                                            </td>
	                                              
	                                            <td>
	                                            	<select th:name="|companyHistory[${i.index}][state]|">
	                                            		<option value="">선택</option>
		                                            	<option th:each="state : ${stateList}" th:selected="*{state.key} == ${historyList.state}" th:text="${state.value}" th:value="${state.key}"></option>	 
	                                            	</select>
	                                            </td> 
	                                    
	                                            <td>
	                                            	<input type="text" th:name="|companyHistory[${i.index}][etc]|" th:value="${historyList.etc}" />
	                                            </td>
	                                            <td>
	                                              <button name="tbl_roow_add2" class="tbl_row_add"><i class="fa fa-plus"></i></button>
	                                              <button class="tbl_row_remove"><i class="fa fa-minus"></i></button>
	                                              <button class="tbl_row_edit"><i class="fa fa-pencil"></i></button>
	                                            </td>
	                                        
	                                        </tr>

											<tr th:if="${#lists.isEmpty(company.companyHistory)}">
												<td>1</td>
												<td>
													<select name="companyHistory[0][gubun]">
														<option value="">선택</option>
														<option th:each="gubun : ${gubunList}" th:text="${gubun.value}" th:value="${gubun.key}"> </option>
													</select>
												</td>
												<td>
													<select name="companyHistory[0][area]">
														<option value="">선택</option>
														<option th:each="area : ${areaList}" th:text="${area.value}" th:value="${area.key}"></option>
													</select>
												</td>
												<td>
													<select name="companyHistory[0][year]" >
														<option value="">선택</option>
														<option th:each="year : ${yearList}"  th:text="${year}" th:value="${year}"></option>
													</select>
												</td>
												<td>
													<input type="text" name="companyHistory[0][businessName]"/>
												</td>
												<td>
													<select name="companyHistory[0][supportGubun]">
														<option value="">선택</option>
														<option value="일반">일반</option>
													</select>
												</td>
												<td>
													<select name="companyHistory[0][state]">
														<option value="">선택</option>
														<option th:each="state : ${stateList}" th:text="${state.value}" th:value="${state.key}"></option>
													</select>
												</td>
												<td>
													<input type="text" name="companyHistory[0][etc]" />
												</td>
												<td>
													<button name="tbl_roow_add2" class="tbl_row_add"><i class="fa fa-plus"></i></button>
													<button class="tbl_row_remove"><i class="fa fa-minus"></i></button>
													<button class="tbl_row_edit"><i class="fa fa-pencil"></i></button>
												</td>
											</tr>

	                                    </tbody>
	                                </table>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <!-- /이력사항 -->
	
	                <!-- 직수출 실적 및 결산내역 -->
	                <div class="row clear">
	                    <div class="col-md-12 col-sm-12 col-xs-12">
	                        <div class="x_panel">
	                            <div class="x_title">
	                            <h2>직수출 실적 및 결산내역</h2>
	                            <ul class="nav navbar-right panel_toolbox">
	                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                                </li>
	                            </ul>
	                            <div class="clearfix"></div>
	                            </div>
	                            <div class="x_content">
	                                <table class="h_table">
	                                    <colgroup>
	                                        <col width="10%"/>
	                                        <col width="10%"/>
	                                        <col width="10%"/>
	                                        <col width="10%"/>
	                                        <col width="*"/>
	                                        <col width="95px"/>
	                                    </colgroup>
	                                    <thead>
	                                        <tr>
	                                            <th>결산연도</th>
	                                            <th>종업원수</th>
	                                            <th>매출액(백만원)</th>
	                                            <th>수출액(천불)</th>
	                                            <th>특이사항</th>
	                                            <th></th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
 	                                        <tr th:each="export,i :${company.companyExports}">
												<input type="hidden" th:name="|companyExports[${i.index}][id]|" th:value="${export.id}"/>
												<input type="hidden" th:name="|companyExports[${i.index}][companyId]|" th:value="${company.id}"/>
	                                            <td>
	                                                <select th:name="|companyExports[${i.index}][closeYear]|">
	                                                	<option value="">선택</option>
		                                            	<option th:each="year : ${yearList}" th:selected="*{year} == ${export.closeYear}" th:text="${year}" th:value="${year}"></option>	                                                	                                            	
	                                                </select>
	                                            </td>
	                                            <td>
	                                              <input type="number" th:name="|companyExports[${i.index}][employeesNum]|" th:value="${export.employeesNum}"/>
	                                            </td>
	                                            <td>
	                                              <input type="number" th:name="|companyExports[${i.index}][sales]|" th:value="${export.sales}"/>
	                                            </td>
	                                            <td>
	                                              <input type="number" th:name="|companyExports[${i.index}][exports]|" th:value="${export.exports}"/>
	                                              
	                                            </td>
	                                            <td>
	                                              <input type="text" th:name="|companyExports[${i.index}][etc]|"  th:value="${export.etc}"/>
	                                            </td>
	                                            <td>
	                                              <button class="tbl_row_add"><i class="fa fa-plus"></i></button>
	                                              <button class="tbl_row_remove"><i class="fa fa-minus"></i></button>
	                                              <button class="tbl_row_edit"><i class="fa fa-pencil"></i></button>
	                                            </td>
	                                        </tr> 
	                                    </tbody>
	                                </table>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <!-- /직수출 실적 및 결산내역 -->
	
	                <!-- 부가정보 -->
	                <div class="row clear">
	                    <div class="col-md-12 col-sm-12 col-xs-12">
	                        <div class="x_panel">
	                            <div class="x_title">
	                            <h2>부가정보</h2>
	                            <ul class="nav navbar-right panel_toolbox">
	                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                                </li>
	                            </ul>
	                            <div class="clearfix"></div>
	                            </div>
	                            <div class="x_content">
	                                <table class="n_table">
	                                    <colgroup>
	                                        <col width="10%"/>
	                                        <col width="24%"/>
	                                        <col width="10%"/>
	                                        <col width="23%"/>
	                                        <col width="10%"/>
	                                        <col width="23%"/>
	                                    </colgroup>
	                                    <tbody>
	                                        <tr>
	                                            <th>무역담당자 <i class="fa fa-check fa-red"></i></th>
	                                            <td>
	                                              <fieldset class="w35p">
	                                                <legend class="blind">무역담당자 유무</legend>
	                                                <!-- 임의로 정한 Id 입니다. 변경하실예정이시면 변경하시고 for와 맞춰주세요. -->
	                                                <input type="radio" name="tradeManagerYn" id="ex1" class="custom_check" value="Y" th:checked="${company.tradeManagerYn} =='Y'" />
	                                                <label for="ex1"><span><i class="fa fa-check"></i></span> 있음</label>
	                                                <!-- 임의로 정한 Id 입니다. 변경하실예정이시면 변경하시고 for와 맞춰주세요. -->
	                                                <input type="radio" name="tradeManagerYn" id="ex2" class="custom_check" value="N" th:checked="${company.tradeManagerYn} =='N'"  />
	                                                <label for="ex2"><span><i class="fa fa-check"></i></span> 없음</label>
	                                              </fieldset>
	                                              <input class="w60p" type="text" id="tradeManagerName" name="tradeManagerName" th:value="${company.tradeManagerName}"/>
	                                            </td>
	                                            <th>수출입여부</th>
	                                            <td>
	                                                <fieldset>
	                                                  <legend class="blind">수출입 여부</legend>
	                                                  <!-- 임의로 정한 Id 입니다. 변경하실예정이시면 변경하시고 for와 맞춰주세요. -->
	                                                  <input type="radio" name="tradeState" id="ex11" class="custom_check" value="O" th:checked="${company.tradeState} != null and ${company.tradeState} == 'O'"/>
	                                                  <label for="ex11"><span><i class="fa fa-check"></i></span> 수출</label>
	                                                  <!-- 임의로 정한 Id 입니다. 변경하실예정이시면 변경하시고 for와 맞춰주세요. -->
	                                                  <input type="radio" name="tradeState" id="ex21" class="custom_check" value="I" th:checked="${company.tradeState} != null and ${company.tradeState} == 'I'"/>
	                                                  <label for="ex21"><span><i class="fa fa-check"></i></span> 수입</label>
	                                                  <!-- 임의로 정한 Id 입니다. 변경하실예정이시면 변경하시고 for와 맞춰주세요. -->
	                                                  <input type="radio" name="tradeState" id="ex31" class="custom_check" value="A" th:checked="${company.tradeState} != null and ${company.tradeState} == 'A'"/>
	                                                  <label for="ex31"><span><i class="fa fa-check"></i></span> 수출입</label>
	                                                </fieldset>
	                                            </td>
	                                            <th>자본금(백만원)</th>
	                                            <td><input type="number" id="capitalPay" name="capitalPay" th:value="${company.capitalPay}"  /></td>
	                                        </tr>
	                                        <tr>
	                                            <th>기업형태 <i class="fa fa-check fa-red"></i></th>
	                                            <td><input type="text" id="companyType" name="companyType" th:value="${company.companyType}"/></td>
	                                            <th>주업종</th>
	                                            <td><input type="text" id="mainIndustry" name="mainIndustry" th:value="${company.mainIndustry}"/></td>
	                                            <th>부업종</th>
	                                            <td><input type="text" id="subIndustry" name="subIndustry" th:value="${company.subIndustry}"/></td>
	                                        </tr>
	                                        <tr>
	                                            <th>일반 교역 국가 <i class="fa fa-check fa-red"></i></th>
	                                            <td><input type="text" id="tradeCountry" name="tradeCountry" th:value="${company.tradeCountry}"/></td>
	                                            <th>주요취급품목</th>
	                                            <td colspan="3"><input type="text" id="mainItem" name="mainItem" th:value="${company.mainItem}"/></td>
	                                        </tr>
	                                    </tbody>
	                                </table>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <!-- /부가정보 -->
	
	                <!-- 하단 탭영역 -->
	                <div class="row clear">
	                    <div class="col-md-12 col-sm-12 col-xs-12">
	                        <div class="x_panel">
	                            <div class="x_title">
	                            <h2>담당자 정보</h2>
	                            <ul class="nav navbar-right panel_toolbox">
	                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                                </li>
	                            </ul>
	                            <div class="clearfix"></div>
	                            </div>
	                            <div class="x_content">
	                                <div class="" role="tabpanel" data-example-id="togglable-tabs">
	                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
	                                      <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">최근코멘트</a>
	                                      </li>
	                                      <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">업체</a>
	                                      </li>
	                                      <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">홈페이지</a>
	                                      </li>
	                                      <li role="presentation" class=""><a href="#tab_content4" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false">브랜드개발</a>
	                                      </li>
	                                      <li role="presentation" class=""><a href="#tab_content5" role="tab" id="profile-tab4" data-toggle="tab" aria-expanded="false">업체방문</a>
	                                      </li>
	                                    </ul>
	                                    <div id="myTabContent" class="tab-content">
	                                      <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
	                                          <table class="h_table">
	                                              <colgroup>
	                                                  <col width="10%"/>
	                                                  <col width="10%"/>
	                                                  <col width="10%"/>
	                                                  <col width="10%"/>
	                                                  <col width="10%"/>
	                                                  <col width="*"/>
	                                                  <col width="10%"/>
	                                                  <col width="10%"/>
	                                              </colgroup>
	                                              <thead>
	                                                  <tr>
	                                                      <th>From</th>
	                                                      <th>To</th>
	                                                      <th>비공개</th>
	                                                      <th>구분</th>
	                                                      <th>종류</th>
	                                                      <th>코멘트</th>
	                                                      <th>알람</th>
	                                                      <th>등록일</th>
	                                                  </tr>
	                                              </thead>
	                                              <tbody th:field="*{commentList}">
	                                                  <tr th:each="comments :${commentList}">
	                                                      <td th:text="${comments.fromPeople}}">박유현</td>
	                                                      <td th:text="${comments.toPeople}">박종범</td>
	                                                      <td th:text="${comments.visibility}">공개</td>
	                                                      <td th:text="${comments.gubun}">전화</td>
	                                                      <td th:text="${comments.kinds}">홈페이지</td>
	                                                      <td th:text="${comments.comment}">코멘트내용입니다.</td>
	                                                      <td th:text="${comments.alert}"></td>
	                                                      <td th:text="${comments.created}">2019-07-10</td>
	                                                  </tr>
	                                              </tbody>
	                                          </table>
	                                      </div>
	                                      <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
	                                          <table class="h_table">
	                                              <colgroup>
	                                                  <col width="10%"/>
	                                                  <col width="10%"/>
	                                                  <col width="10%"/>
	                                                  <col width="10%"/>
	                                                  <col width="*"/>
	                                                  <col width="10%"/>
	                                                  <col width="10%"/>
	                                              </colgroup>
	                                              <thead>
	                                                  <tr>
	                                                      <th>From</th>
	                                                      <th>To</th>
	                                                      <th>비공개</th>
	                                                      <th>구분</th>
	                                                      <th>코멘트</th>
	                                                      <th>알람</th>
	                                                      <th>등록일</th>
	                                                  </tr>
	                                              </thead>
	                                              <tbody>
	                                                  <tr>
	                                                      <td><input type="text" id="fromPeople" th:name="comments[0][fromPeople]"/></td>
	                                                      <td><input type="text" id="toPeople" th:name="comments[0][toPeople]"/></td>
	                                                      <td>
	                                                      	<select id="visibility" th:name="comments[0][visibility]">
	                                                      		<option value="공개">공개</option>
	                                                      		<option value="비공개">비공개</option>
	                                                      	</select>
<!-- 	                                                        <input type="checkbox" id="customCheck1" class="custom_check" />
	                                                        <label for="customCheck1"><span><i class="fa fa-check"></i></span></label> -->
	                                                      </td>
	                                                      <td>
                                                     	 <select name="comment[0][gubun]" id="gubun" th:field="*{commentGubunList}">
	                                                              <option value="">선택</option>
	                                                              <option th:each="list : ${commentGubunList}" th:text="${list.value}" th:value="${list.key}"></option>
	                                                          </select> 
	                                                      </td>
	                                                      <td><textarea id="comment" name="comments[0][comment]" cols="30" rows="10"></textarea></td>
	                                                      <td>
	                                                        <select id="alert" name="comments[0][alert]">
																<option value="">선택</option>
																<option th:each="list : ${userList}" th:text="${list.name}" th:value="${list.name}"></option>
	                                                        </select>
	                                                      </td>
	                                                      <td><button class="btn btn-success" id="commentSubmit" onclick="commentSubmit();">등록</button></td>
	                                                  </tr>
 	                                                  <tr th:each = "list,i :${company.companyComment}">
	                                                      <input type="hidden" name="id" value="${list.comment.id}" /> 
	                                                      <td th:text="${list.comment.fromPeople}"></td>
	                                                      <td th:text="${list.comment.toPeople}"></td>
	                                                      <td th:text='${list.comment.visibility}'></td>
	                                                      <td th:text="${list.comment.gubun}"></td>
	                                                      <td th:text="${list.comment.kinds}"></td>
	                                                      <td th:text="${list.comment.comment}"></td>
	                                                      <td th:text="${list.comment.alert}"></td>
	                                                      <td th:if="${list.comment.modified} == null" th:text="${list.comment.created}"></td>
	                                                      <td th:unless="${list.comment.modified} == null" th:text="${list.comment.modified}"></td>
	                                                  </tr> 
	                                              </tbody>
	                                          </table>
	                                      </div>
	                                      <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
	                                          <table class="h_table">
	                                              <colgroup>
	                                                  <col width="10%"/>
	                                                  <col width="10%"/>
	                                                  <col width="10%"/>
	                                                  <col width="10%"/>
	                                                  <col width="10%"/>
	                                                  <col width="*"/>
	                                                  <col width="10%"/>
	                                                  <col width="10%"/>
	                                              </colgroup>
	                                              <thead>
	                                                  <tr>
	                                                      <th>From</th>
	                                                      <th>To</th>
	                                                      <th>비공개</th>
	                                                      <th>구분</th>
	                                                      <th>위치</th>
	                                                      <th>코멘트</th>
	                                                      <th>알람</th>
	                                                      <th>등록일</th>
	                                                  </tr>
	                                              </thead>
	                                              <tbody>
	                                                  <tr>
	                                                      <td>박유현</td>
	                                                      <td>박종범</td>
	                                                      <td>공개</td>
	                                                      <td>전화</td>
	                                                      <td>홈페이지</td>
	                                                      <td>코멘트내용입니다.</td>
	                                                      <td></td>
	                                                      <td>2019-07-10</td>
	                                                  </tr>
	                          
	                                              </tbody>
	                                          </table>
	                                      </div>
	                                      <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab">
	                                          <table class="h_table">
	                                              <colgroup>
	                                                  <col width="10%"/>
	                                                  <col width="10%"/>
	                                                  <col width="10%"/>
	                                                  <col width="10%"/>
	                                                  <col width="10%"/>
	                                                  <col width="*"/>
	                                                  <col width="10%"/>
	                                                  <col width="10%"/>
	                                              </colgroup>
	                                              <thead>
	                                                  <tr>
	                                                      <th>From</th>
	                                                      <th>To</th>
	                                                      <th>비공개</th>
	                                                      <th>구분</th>
	                                                      <th>위치</th>
	                                                      <th>코멘트</th>
	                                                      <th>알람</th>
	                                                      <th>등록일</th>
	                                                  </tr>
	                                              </thead>
	                                              <tbody>
	                                                  <tr>
	                                                      <td>박유현</td>
	                                                      <td>박종범</td>
	                                                      <td>공개</td>
	                                                      <td>전화</td>
	                                                      <td>브랜드개발</td>
	                                                      <td>코멘트내용입니다.</td>
	                                                      <td></td>
	                                                      <td>2019-07-10</td>
	                                                  </tr>
	                                                  <tr>
	                                                      <td>박유현</td>
	                                                      <td>박종범</td>
	                                                      <td>공개</td>
	                                                      <td>전화</td>
	                                                      <td>브랜드개발</td>
	                                                      <td>코멘트내용입니다.코멘트내용입니다.코멘트내용입니다.코멘트내용입니다.코멘트내용입니다.코멘트내용입니다.코멘트내용입니다.코멘트내용입니다.</td>
	                                                      <td></td>
	                                                      <td>2019-07-9</td>
	                                                  </tr>
	                                              </tbody>
	                                          </table>
	                                      </div>
	                                      <div role="tabpanel" class="tab-pane fade" id="tab_content5" aria-labelledby="profile-tab">
	                                          <table class="h_table">
	                                              <colgroup>
	                                                  <col width="10%"/>
	                                                  <col width="10%"/>
	                                                  <col width="10%"/>
	                                                  <col width="10%"/>
	                                                  <col width="10%"/>
	                                                  <col width="*"/>
	                                                  <col width="10%"/>
	                                                  <col width="10%"/>
	                                              </colgroup>
	                                              <thead>
	                                                  <tr>
	                                                      <th>From</th>
	                                                      <th>To</th>
	                                                      <th>비공개</th>
	                                                      <th>구분</th>
	                                                      <th>위치</th>
	                                                      <th>코멘트</th>
	                                                      <th>알람</th>
	                                                      <th>등록일</th>
	                                                  </tr>
	                                              </thead>
	                                              <tbody>
	                                                  <tr>
	                                                      <td>박유현</td>
	                                                      <td>박종범</td>
	                                                      <td>공개</td>
	                                                      <td>전화</td>
	                                                      <td>업체방문</td>
	                                                      <td>코멘트내용입니다.</td>
	                                                      <td></td>
	                                                      <td>2019-07-10</td>
	                                                  </tr>
	                                                  <tr>
	                                                      <td>박유현</td>
	                                                      <td>박종범</td>
	                                                      <td>공개</td>
	                                                      <td>전화</td>
	                                                      <td>업체방문</td>
	                                                      <td>코멘트내용입니다.코멘트내용입니다.코멘트내용입니다.코멘트내용입니다.코멘트내용입니다.코멘트내용입니다.코멘트내용입니다.코멘트내용입니다.</td>
	                                                      <td></td>
	                                                      <td>2019-07-9</td>
	                                                  </tr>
	                                              </tbody>
	                                          </table>
	                                      </div>
	                                    </div>
	                                  </div>
	                                
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <!-- /하단 탭영역 -->
	
	                <div class="t_r">
	                    <button class="btn btn-success" onclick="onSubmit();">수정</button>
	                </div>
	            </div>
	        </div>
	        </form>
	        <script th:inline="javascript">
	     /*<![CDATA[*/ 
	    	 
        $(document).ready(function() { 
        	var value = /*[[${company.tradeManagerYn}]]*/;
	    	 if(value == 'N'){
	    		 $("#tradeManagerName").attr('disabled',true);
	    	 }else{
	    		 $("#tradeManagerName").attr('disabled',false);
	    	 }
        });

	     $("input[name=tradeManagerYn]").change(function(){
	    	
	    	 var value = $(this).val();
	    	 
	    	 if(value == 'N'){
	    		 $("#tradeManagerName").attr('disabled',true);
	    	 }else{
	    		 $("#tradeManagerName").attr('disabled',false);
	    	 }
	     });
	     function commentSubmit(){
	    	 
	    	 var form = new FormData();
	    
	    	 var fromPeople = $("#fromPeople").val();
	    	 var toPeople = $("#toPeople").val();
	    	 var visibility = $("#visibility").val();
	    	 var gubun = $("#gubun").val();
	    	 var comment = $("#comment").val();
	    	 var alert = $("#alert").val();
	    	 var companyId = $("#id").val();
	    	 
	    	 form.append("fromPeople", fromPeople);
	    	 form.append("toPeople", toPeople);
	    	 form.append("visibility", visibility);
	    	 form.append("gubun", gubun);
	    	 form.append("comment", comment);
	    	 form.append("alert", alert);
	    	 form.append("companyId", companyId);
	    	 
	    		 
 			 var request = $.ajax({
 				type : "POST",
 				url : "/company/saveComment",
 				data : form,
 				dataType :"json",
		
 			 });
 			
 			 request.done(function(result){	 				

 					alert("코멘트 등록이 완료되었습니다.");
 					location.href="/company/view?id=${id}";
 				
 			 });
    		 
	    		 
	     }
	     
	     function onSubmit(){



	    	 var form = $('#companyForm').serializeObject();
/* 	    	 var formData = new FormData();
	    	 formData.append("company",form);
	    	 formData.append("businessFile", $("#businessFile")[0].files[0]); */
	    	 var companyName = $("#companyName").val();
	    	 var representName = $("#representName").val();
	    	 var representNo = $("#representNo").val();
	    	 var tradeManagerYn = $('input:radio[name="tradeManagerYn"]:checked').val();
	    	 var tradeManagerName = $("#tradeManagerName").val();
	    	 var companyType = $("#companyType").val();
	    	 var tradeCountry = $("#tradeCountry").val();
	    	 
	    	 if(companyName == null || companyName == ''){
	    		 alert("회사명을 적어주세요.");
	    		 $("#companyName").focus();
	    		 return;
	    	 }else if(representName == null || representName == ''){
	    		 alert("대표자명을 적어주세요.");
	    		 $("#representName").focus();
	    		 return;
	    	 }else if(representNo == null || representNo == ''){
	    		 alert("대표자 전화번호를 적어주세요.");
	    		 $("#representNo").focus();
	    		 return;
	    	 }else if(tradeManagerYn == null || tradeManagerYn == ''){
	    		 alert("무역담당자 여부를 선택해주세요.");
	    		 $("#tradeManagerYn").focus();
	    		 return;
	    	 }else if( tradeManagerYn == 'Y'){
	    		 
	    		 if((tradeManagerName == null || tradeManagerName == '')){
	    			 
		    		 alert("무역담당자명을 적어주세요.");
		    		 $("#tradeManagerName").focus();
		    		 return;
	    		 }else{
	    			 
	    		 }

	    		 
	    	 }else if(companyType == null || companyType == ''){	    		 
	    		 alert("기업형태를 적어주세요");
	    		 $("#companyType").focus();
	    		 return;	    		 
	    	 }else if(tradeCountry == null || tradeCountry == ''){	    		 
	    		 alert("일반 교역국가를 적어주세요");
	    		 $("#tradeCountry").focus();
	    		 return;	    		 
	    	 }else{

	    	 	if(!confirm("업체를 수정하시겠습니까?")) {
	    	 		return;
				}

				 var formData = new FormData($("#companyForm")[0])

				 $.ajax({
					 type: "POST",
					 enctype: 'multipart/form-data',
					 url: "/file/upload/company",
					 data: formData,
					 processData: false,
					 contentType: false,
					 cache: false,
					 timeout: 600000,
					 success: function (data) {

						 form.registerFile = data[0].id

						 var request = $.ajax({
							 type : "POST",
							 contentType: 'application/json',
							 url : "/company/update",
							 data : JSON.stringify(form),
							 dataType :"json",
						 });

						 request.done(function(result){

							 alert("수정이 완료되었습니다.");
							 location.href="/company/list";

						 });

					 },
					 error: function (e) {
						 console.log("ERROR : ", e);
						 alert("파일 업로드에 실패하였습니다");
					 }
				 });



	    	 }
	    	 
	     }
	     /*]]>*/ 
		 </script>
        	<!-- /page content -->
		</div>
		
		


  </body>
</html>