<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/body">
  <!-- index.html 고유 CSS 추가 -->
	<body>
	     <div layout:fragment="content">
	        <!-- page content -->
	        <form action="/company/saveCompany" method="post" id="companyForm" name="companyForm" onsubmit="return false;" enctype="multipart/form-data">
	        <div class="right_col" role="main">
	            <div class="">
	                <div class="page-title">
	                    <div class="title_left">
	                        <h3>업체리스트 <small>(주)에스엔비플러스</small></h3>
	                    </div>
	
	                    <div class="title_right t_r">
	                        <button class="btn btn-success">등록</button>
	                    </div>
	                </div>
	                
	                <div class="clearfix"></div>
	                
	                <!-- 기본정보 -->
	                <div class="row clear">
	                    <div class="col-md-12 col-sm-12 col-xs-12">
	                        <div class="x_panel">
	                            <div class="x_title">
	                            <h2>기본정보</h2>
	                            <ul class="nav navbar-right panel_toolbox">
	                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                                </li>
	                            </ul>
	                            <div class="clearfix"></div>
	                            </div>
	                            <div class="x_content">
	                                <table class="n_table">
	                                    <colgroup>
	                                        <col width="9%"/>
	                                        <col width="8%"/>
	                                        <col width="17%"/>
	                                        <col width="16%"/>
	                                        <col width="17%"/>
	                                        <col width="16%"/>
	                                        <col width="17%"/>
	                                    </colgroup>
	                                    <tbody>
	                                        <tr>
	                                            <th colspan="2">표준산업분류코드</th>
	                                            <td colspan="2"><input type="text" id="industryCode" name="industryCode"/></td>
	                                            <th>알리바바 등급</th>
	                                            <td colspan="2">
	                                                <select name="rating" id="rating">
	                                                    <option value="">선택</option>
														<option th:each="rating : ${ratingList}"  th:text="${rating.value}" th:value="${rating.key}"> </option> 
	                                                </select>
	                                            </td>
	                                        </tr>
	                                        <tr>
	                                            <th colspan="2">회사명 <i class="fa fa-check fa-red"></i></th>
	                                            <td><input type="text" id="companyName" name="companyName"/></td>
	                                            <th>영문회사명</th>
	                                            <td><input type="text" id="companyEnName" name="companyEnName"/></td>
	                                            <th>사업자등록번호</th>
	                                            <td><input type="text" id="registerNo" name="registerNo"/></td>
	                                        </tr>
	                                        <tr>
	                                            <th colspan="2">대표자명 <i class="fa fa-check fa-red"></i></th>
	                                            <td><input type="text" id="representName" name="representName"/></td>
	                                            <th>대표자 휴대폰</th>
	                                            <td><input type="text" id="representPhoneNo" name="representPhoneNo"/></td>
	                                            <th>창립일</th>
	                                            <td><input type="text" id="foundationDate" name="foundationDate"/></td>
	                                        </tr>
	                                        <tr>
	                                            <th colspan="2">대표 전화 <i class="fa fa-check fa-red"></i></th>
	                                            <td><input type="text" id="representNo" name="representNo"/></td>
	                                            <th>대표 팩스</th>
	                                            <td><input type="text" id="representFax" name="representFax"/></td>
	                                            <th>대표 메일</th>
	                                            <td><input type="email" id="representEmail" name="representEmail"/></td>
	                                        </tr>
	                                        <tr>
	                                            <th rowspan="3">주소</th>
	                                            <td class="bg_g">본사</td>
	                                            <td colspan="5">
	                                                지역:
	                                                <select name="area" id="area" class="w20p">
	                                                    <option value="">선택</option>
	                                                    <option th:each="area : ${areaList}" th:text="${area.value}" th:value="${area.key}"></option>
	                                                </select>
	                                                <input type="text" class="w70p" id="headOfficeAddress" name="headOfficeAddress" />
	                                            </td>
	                                        </tr>
	                                        <tr>
	                                            <td class="bg_g">공장</td>
	                                            <td colspan="5"><input type="text" id="plantAddress" name="plantAddress"/></td>
	                                        </tr>
	                                        <tr>
	                                            <td class="bg_g">영문주소</td>
	                                            <td colspan="5"><input type="text" id="engAddress" name="engAddress"/></td>
	                                        </tr>
	                                        <tr>
	                                            <th colspan="2" rowspan="2">홈페이지</th>
	                                            <td class="t_c bg_g">설명</td>
	                                            <td colspan="4" class="t_c bg_g">주소</td>
	                                        </tr>
	                                        <tr>
	                                            <td><input type="text" id="homepageAddress" name="homepageAddress"/></td>
	                                            <td colspan="4"><input type="text" id="homepageExplain" name="homepageExplain"/></td>
	                                        </tr>
	                                        <tr>
	                                            <th colspan="2">내용<br/>(발굴경로, 업체특성, 담당자 성향 등)</th>
	                                            <td colspan="5"><textarea name="content" id="content" cols="30" rows="10"></textarea></td>
	                                        </tr>
	                                        <tr>
	                                            <th colspan="2">사업자등록증</th>
	                                            <td colspan="5"><input type="file" name="businessFile" id="businessFile"/></td>
	                                        </tr>
	                                    </tbody>
	                                </table>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <!-- /기본정보 -->
	
	                <!-- 담당자 정보 -->
	                <div class="row clear">
	                    <div class="col-md-12 col-sm-12 col-xs-12">
	                        <div class="x_panel">
	                            <div class="x_title">
	                            <h2>담당자 정보</h2>
	                            <ul class="nav navbar-right panel_toolbox">
	                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                                </li>
	                            </ul>
	                            <div class="clearfix"></div>
	                            </div>
	                            <div class="x_content">
	                                <table class="h_table">
	                                    <colgroup>
	                                        <col width="45px"/>
	                                        <col width="3%"/>
	                                        <col width="8%"/>
	                                        <col width="8%"/>
	                                        <col width="8%"/>
	                                        <col width="8%"/>
	                                        <col width="14%"/>
	                                        <col width="14%"/>
	                                        <col width="14%"/>
	                                        <col width="*"/>
	                                        <col width="95px"/>
	                                    </colgroup>
	                                    <thead>
	                                        <tr>
	                                            <th>No.</th>
	                                            <th>홍보대상</th>
	                                            <th>근무</th>
	                                            <th>이름</th>
	                                            <th>직급</th>
	                                            <th>부서</th>
	                                            <th>전화</th>
	                                            <th>휴대폰</th>
	                                            <th>메일</th>
	                                            <th>비고</th>
	                                            <th></th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                        <tr>
	                                            <td>1</td>
	                                            <td>
	                                                <!-- for와 id 값 동일하게 해주시면 됩니다. 그래야지 체크박스가 제대로 작동합니다. -->
	                                                <input type="checkbox" id="customCheck[0]" name="companyInfo[0][promotionYn]" class="custom_check" value="Y"/>
	                                                <label for="customCheck[0]"><span><i class="fa fa-check"></i></span></label>
	                                            </td>
	                                            <td>
	                                                <select name="companyInfo[0][workState]">
	                                                    <option value="">선택</option>                                                	                                                   
	                                                    <option value="근무">근무</option>
	                                                    <option value="퇴사">퇴사</option>
	                                                </select>
	                                            </td>
	                                            <td>
	                                                <input type="text" name="companyInfo[0][name]"/>
	                                            </td>
	                                            <td>
	                                                <input type="text" name="companyInfo[0][rank]" />
	                                            </td>
	                                            <td>
	                                                <input type="text" name="companyInfo[0][dept]" />
	                                            </td>
	                                            <td>
	                                                <input type="text" name="companyInfo[0][telNo]"/>
	                                            </td>
	                                            <td>
	                                                <input type="text" name="companyInfo[0][phoneNo]"/>
	                                            </td>
	                                            <td>
	                                                <input type="text" name="companyInfo[0][email]"/>
	                                            </td>
	                                            <td>
	                                                <input type="text" name="companyInfo[0][etc]" />
	                                            </td>
	                                            <td>
	                                                <button name="tbl_row_add" class="tbl_row_add"><i class="fa fa-plus"></i></button>
	                                                <button class="tbl_row_remove"><i class="fa fa-minus"></i></button>
	                                               <!--  <button class="tbl_row_edit"><i class="fa fa-pencil"></i></button> -->
	                                            </td>
	                                        </tr>
	                                    </tbody>
	                                </table>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <!-- /담당자 정보 -->
	

	
	                <!-- 이력사항 -->
	                <div class="row clear">
	                    <div class="col-md-12 col-sm-12 col-xs-12">
	                        <div class="x_panel">
	                            <div class="x_title">
	                            <h2>이력사항</h2>
	                            <ul class="nav navbar-right panel_toolbox">
	                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                                </li>
	                            </ul>
	                            <div class="clearfix"></div>
	                            </div>
	                            <div class="x_content">
	                                <table class="h_table">
	                                    <colgroup>
	                                        <col width="45px"/>
	                                        <col width="10%"/>
	                                        <col width="10%"/>
	                                        <col width="10%"/>
	                                        <col width="10%"/>
	                                        <col width="10%"/>
	                                        <col width="10%"/>
	                                        <col width="30%"/>
	                                        <col width="*"/>
	                                    </colgroup>
	                                    <thead>
	                                        <tr>
	                                            <th>No.</th>
	                                            <th>구분</th>
	                                            <th>편할지역</th>
	                                            <th>연도</th>
	                                            <th>사업명</th>
	                                            <th>지원구분</th>
	                                            <th>선/탈</th>
	                                            <th>비고</th>
	                                            <th></th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                        <tr>
	                                            <td>1</td>
	                                            <td>
	                                            	<select name="companyHistory[0][gubun]">
	                                            		<option value="">선택</option>
	                                            		<option th:each="gubun : ${gubunList}" th:text="${gubun.value}" th:value="${gubun.key}"> </option> 
	                                            	</select>
	                                            </td>
	                                            <td>
	                                            	<select name="companyHistory[0][area]">
	                                            	 	<option value="">선택</option>
	                                                    <option th:each="area : ${areaList}" th:text="${area.value}" th:value="${area.key}"></option>	                                                
	                                            	</select>
	                                            </td>
	                                            <td>
	                                            	<select name="companyHistory[0][year]" >
		                                            	<option value="">선택</option>
		                                            	<option th:each="year : ${yearList}"  th:text="${year}" th:value="${year}"></option>	                                                
	                                            	</select>
	                                            </td>
	                                            <td>
	                                            	<input type="text" name="companyHistory[0][businessName]"/>
	                                            </td>
	                                            <td>
	                                            	<select name="companyHistory[0][supportGubun]">
		                                            	<option value="">선택</option>
		                                            	<option value="일반">일반</option>
	                                            	</select>
	                                            </td>
	                                            <td>
	                                            	<select name="companyHistory[0][state]">
	                                            		<option value="">선택</option>
		                                            	<option th:each="state : ${stateList}" th:text="${state.value}" th:value="${state.key}"></option>	 
	                                            	</select>
	                                            </td>
	                                            <td>
	                                            	<input type="text" name="companyHistory[0][etc]" />
	                                            </td>
	                                             <td>
	                                              <button name="tbl_roow_add2" class="tbl_row_add"><i class="fa fa-plus"></i></button>
	                                              <button class="tbl_row_remove"><i class="fa fa-minus"></i></button>
	                                              <button class="tbl_row_edit"><i class="fa fa-pencil"></i></button>
	                                            </td>
	                                        </tr>
	                                    </tbody>
	                                </table>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <!-- /이력사항 -->
	
	                <!-- 직수출 실적 및 결산내역 -->
	                <div class="row clear">
	                    <div class="col-md-12 col-sm-12 col-xs-12">
	                        <div class="x_panel">
	                            <div class="x_title">
	                            <h2>직수출 실적 및 결산내역</h2>
	                            <ul class="nav navbar-right panel_toolbox">
	                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                                </li>
	                            </ul>
	                            <div class="clearfix"></div>
	                            </div>
	                            <div class="x_content">
	                                <table class="h_table">
	                                    <colgroup>
	                                        <col width="10%"/>
	                                        <col width="10%"/>
	                                        <col width="10%"/>
	                                        <col width="10%"/>
	                                        <col width="*"/>
	                                        <col width="95px"/>
	                                    </colgroup>
	                                    <thead>
	                                        <tr>
	                                            <th>결산연도</th>
	                                            <th>종업원수</th>
	                                            <th>매출액(백만원)</th>
	                                            <th>수출액(천불)</th>
	                                            <th>특이사항</th>
	                                            <th></th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                        <tr>
	                                            <td>
	                                                <select name="companyExports[0][closeYear]">
		                                                <option value="">선택</option>
		                                                <option th:each="year : ${yearList}" th:text="${year}" th:value="${year}"></option>
	                                                </select>
	                                            </td>
	                                            <td>
	                                              <input type="number" name="companyExports[0][employeesNum]" />
	                                            </td>
	                                            <td>
	                                              <input type="number" name="companyExports[0][sales]"/>
	                                            </td>
	                                            <td>
	                                              <input type="number" name="companyExports[0][exports]" />
	                                            </td>
	                                            <td>
	                                              <input type="text" name="companyExports[0][etc]"/>
	                                            </td>
	                                            <td>
	                                              <button class="tbl_row_add"><i class="fa fa-plus"></i></button>
	                                              <button class="tbl_row_remove"><i class="fa fa-minus"></i></button>
	                                              <button class="tbl_row_edit"><i class="fa fa-pencil"></i></button>
	                                            </td>
	                                        </tr>
	                                    </tbody>
	                                </table>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <!-- /직수출 실적 및 결산내역 -->
	
	                <!-- 부가정보 -->
	                <div class="row clear">
	                    <div class="col-md-12 col-sm-12 col-xs-12">
	                        <div class="x_panel">
	                            <div class="x_title">
	                            <h2>부가정보</h2>
	                            <ul class="nav navbar-right panel_toolbox">
	                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                                </li>
	                            </ul>
	                            <div class="clearfix"></div>
	                            </div>
	                            <div class="x_content">
	                                <table class="n_table">
	                                    <colgroup>
	                                        <col width="10%"/>
	                                        <col width="24%"/>
	                                        <col width="10%"/>
	                                        <col width="23%"/>
	                                        <col width="10%"/>
	                                        <col width="23%"/>
	                                    </colgroup>
	                                    <tbody>
	                                        <tr>
	                                            <th>무역담당자 <i class="fa fa-check fa-red"></i></th>
	                                            <td>
	                                              <fieldset class="w35p">
	                                                <legend class="blind">무역담당자 유무</legend>
	                                                <!-- 임의로 정한 Id 입니다. 변경하실예정이시면 변경하시고 for와 맞춰주세요. -->
	                                                <input type="radio" name="tradeManagerYn" id="ex1" class="custom_check" value="Y"/>
	                                                <label for="ex1"><span><i class="fa fa-check"></i></span> 있음</label>
	                                                <!-- 임의로 정한 Id 입니다. 변경하실예정이시면 변경하시고 for와 맞춰주세요. -->
	                                                <input type="radio" name="tradeManagerYn" id="ex2" class="custom_check" value="N"/>
	                                                <label for="ex2"><span><i class="fa fa-check"></i></span> 없음</label>
	                                              </fieldset>
	                                              <input class="w60p" type="text" id="tradeManagerName" name="tradeManagerName"/>
	                                            </td>
	                                            <th>수출입여부</th>
	                                            <td>
	                                                <fieldset>
	                                                  <legend class="blind">수출입 여부</legend>
	                                                  <!-- 임의로 정한 Id 입니다. 변경하실예정이시면 변경하시고 for와 맞춰주세요. -->
	                                                  <input type="radio" name="tradeState" id="ex11" class="custom_check" value="O"/>
	                                                  <label for="ex11"><span><i class="fa fa-check"></i></span> 수출</label>
	                                                  <!-- 임의로 정한 Id 입니다. 변경하실예정이시면 변경하시고 for와 맞춰주세요. -->
	                                                  <input type="radio" name="tradeState" id="ex21" class="custom_check" value="I"/>
	                                                  <label for="ex21"><span><i class="fa fa-check"></i></span> 수입</label>
	                                                  <!-- 임의로 정한 Id 입니다. 변경하실예정이시면 변경하시고 for와 맞춰주세요. -->
	                                                  <input type="radio" name="tradeState" id="ex31" class="custom_check" value="A"/>
	                                                  <label for="ex31"><span><i class="fa fa-check"></i></span> 수출입</label>
	                                                </fieldset>
	                                            </td>
	                                            <th>자본금(백만원)</th>
	                                            <td><input type="number" id="capitalPay" name="capitalPay"/></td>
	                                        </tr>
	                                        <tr>
	                                            <th>기업형태 <i class="fa fa-check fa-red"></i></th>
	                                            <td><input type="text" id="companyType" name="companyType"/></td>
	                                            <th>주업종</th>
	                                            <td><input type="text" id="mainIndustry" name="mainIndustry"/></td>
	                                            <th>부업종</th>
	                                            <td><input type="text" id="subIndustry" name="subIndustry"/></td>
	                                        </tr>
	                                        <tr>
	                                            <th>일반 교역 국가 <i class="fa fa-check fa-red"></i></th>
	                                            <td><input type="text" id="tradeCountry" name="tradeCountry"/></td>
	                                            <th>주요취급품목</th>
	                                            <td colspan="3"><input type="text" id="mainItem" name="mainItem"/></td>
	                                        </tr>
	                                    </tbody>
	                                </table>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <!-- /부가정보 -->
	
	                <!-- 하단 탭영역 -->

	                <!-- /하단 탭영역 -->
	
	                <div class="t_r">
	                    <button class="btn btn-success" onclick="onSubmit();">등록</button>
	                </div>
	            </div>
	        </div>
	        </form>
	
	     <script th:inline="javascript">
	     /*<![CDATA[*/ 

	     $("input[name=tradeManagerYn]").change(function(){
	    	
	    	 var value = $(this).val();
	    	 
	    	 if(value == 'N'){
	    		 $("#tradeManagerName").attr('disabled',true);
	    	 }else{
	    		 $("#tradeManagerName").attr('disabled',false);
	    	 }
	     });
	     
	     function onSubmit(){
	    	 
	    	 var form = $('#companyForm').serializeObject();
	    	 /* 
	    	 var file = $("#businessFile")[0].files[0];
	    	 var formData = new FormData();
	    	 formData.append("company",form);
	    	 formData.append("businessFile", $("#businessFile")[0].files[0]); */
	    	 var companyName = $("#companyName").val();
	    	 var representName = $("#representName").val();
	    	 var representNo = $("#representNo").val();
	    	 var tradeManagerYn = $('input:radio[name="tradeManagerYn"]:checked').val();
	    	 var tradeManagerName = $("#tradeManagerName").val();
	    	 var companyType = $("#companyType").val();
	    	 var tradeCountry = $("#tradeCountry").val();
	    	 
	    	 if(companyName == null || companyName == ''){
	    		 alert("회사명을 적어주세요.");
	    		 $("#companyName").focus();
	    		 return;
	    	 }

	    	 if(representName == null || representName == ''){
	    		 alert("대표자명을 적어주세요.");
	    		 $("#representName").focus();
	    		 return;
	    	 }

	    	 if(representNo == null || representNo == ''){
	    		 alert("대표자 전화번호를 적어주세요.");
	    		 $("#representNo").focus();
	    		 return;
	    	 }

	    	 if(tradeManagerYn == null || tradeManagerYn == ''){
	    		 alert("무역담당자 여부를 선택해주세요.");
	    		 $("#tradeManagerYn").focus();
	    		 return;
	    	 }

	    	 if( tradeManagerYn == 'Y'){
	    		 
	    		 if((tradeManagerName == null || tradeManagerName == '')){
	    			 
		    		 alert("무역담당자명을 적어주세요.");
		    		 $("#tradeManagerName").focus();
		    		 return;
	    		 }else{
	    			 
	    		 }

	    		 
	    	 }

	    	 if(companyType == null || companyType == ''){
	    		 alert("기업형태를 적어주세요");
	    		 $("#companyType").focus();
	    		 return;	    		 
	    	 }

	    	 if(tradeCountry == null || tradeCountry == ''){
	    		 alert("일반 교역국가를 적어주세요");
	    		 $("#tradeCountry").focus();
	    		 return;	    		 
	    	 }



			 form.companyHistory = form.companyHistory.filter(function(history) {
				 return history.businessName != '';
			 });


			 var formData = new FormData($("#companyForm")[0])

			 $.ajax({
				 type: "POST",
				 enctype: 'multipart/form-data',
				 url: "/file/upload/company",
				 data: formData,
				 processData: false,
				 contentType: false,
				 cache: false,
				 timeout: 600000,
				 success: function (data) {

					form.registerFile = data[0].id

					$.ajax({
						type : "POST",
						contentType: "application/json",
						url : "/company/save",
						data: JSON.stringify(form),
						dataType :"json",
					}).done(function(result){

							alert("신규등록이 완료되었습니다.");
							location.href="/company/list";

					});

				 },
				 error: function (e) {
					 console.log("ERROR : ", e);
					 alert("파일 업로드에 실패하였습니다");
				 }
			 });



	    	 
	     }
	     /*]]>*/ 
		 </script>
	          
	         
        	<!-- /page content -->
		</div>
		
		


  </body>
</html>