<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/body">
  <!-- index.html 고유 CSS 추가 -->
	<body>
	     <div layout:fragment="content">
	        <!-- page content -->
			<div class="right_col" role="main">
	            <div class="">
	                <div class="page-title">
	                    <div class="title_left">
	                        <h3>출장외근보고</h3>
	                    </div>
	
	                    <div class="title_right t_r">
	                      <a class="btn btn-success">등록</a>
	                    </div>
	                </div>
	                
	                <div class="clearfix"></div>
	
	                <!-- 업무내용 상단 -->
	                <div class="row clear">
	                  <div class="col-md-12 col-sm-12 col-xs-12">
	                    <div class="x_panel">
	                        <div class="x_title">
	                        <h2>업무내용</h2>
	                        <ul class="nav navbar-right panel_toolbox">
	                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                            </li>
	                        </ul>
	                        <div class="clearfix"></div>
	                        </div>
	                        <div class="x_content">
	                            <table class="h_table mb20">
	                                <colgroup>
	                                    <col width="10%"/>
	                                    <col width="11%"/>
	                                    <col width="25%"/>
	                                    <col width="10%"/>
	                                    <col width="22%"/>
	                                    <col width="22%"/>
	                                </colgroup>
	                                <thead>
	                                  <tr>
	                                    <th>업체명</th>
	                                    <th>사업연도</th>
	                                    <th>사업명</th>
	                                    <th>차량이용</th>
	                                    <th>방문지역</th>
	                                    <th>방문처</th>
	                                  </tr>
	                                </thead>
	                                <tbody>
	                                    <tr>
	                                        <td>
	                                          <select name="companyId">
	                                            <option value="">선택</option>
	                                            <option th:each="list : ${companyList}" th:text="${list.companyName}" th:value="${list.id}"></option>
	                                          </select>
	                                        </td>
	                                        <td>
	                                          <select name="year" id="year">
	                                            <option value="">선택</option>
	                                            <option th:each="year : ${yearList}" th:text="${year}" th:value="${year}" ></option>
	                                          </select>
	                                        </td>
	                                        <td><input type="text" id="businessName" name="businessName" /></td>
	                                        <td><input type="text" id="carNo" name="carNo" /></td>
	                                        <td><input type="text" id="tripArea" name="tripArea" /></td>
	                                        <td><input type="text" id="tripPlace" name="tripPlace" /></td>
	                                    </tr>
	                                </tbody>
	                            </table>
	                            <table class="h_table">
	                              <colgroup>
	                                  <col width="10%"/>
	                                  <col width="11%"/>
	                                  <col width="17.5%"/>
	                                  <col width="17.5%"/>
	                                  <col width="22%"/>
	                                  <col width="22%"/>
	                              </colgroup>
	                              <thead>
	                                <tr>
	                                  <th>업체구분</th>
	                                  <th>출발시간</th>
	                                  <th colspan="2">미팅시간</th>
	                                  <th>도착</th>
	                                  <th>업무내용</th>
	                                </tr>
	                              </thead>
	                              <tbody>
	                                  <tr>
	                                      <td>
	                                        <select name="workGubun" id="workGubun">
	                                          <option value="">선택</option>
	                                          <option th:each="gubun : ${workGubunList}" th:text="${gubun}" th:value="${gubun}"></option>
	                                        </select>
	                                      </td>
	                                      <td><input type="text" class="myDatepicker" name="startTime" /></td>
	                                      <td><input type="text" name="meetingStartTime" class="myDatepicker"   /></td>
	                                      <td><input type="text" name="meetingEndTime" class="myDatepicker" /></td>
	                                      <td><input type="text" name="endTime" class="myDatepicker" /></td>
	                                      <td><input type="text" name="content" /></td>
	                                  </tr>
	                              </tbody>
	                          </table>
	                        </div>
	                    </div>
	                  </div>
	                </div>
	                <!-- /업무내용 상단 -->
	                
	                <!-- 차량운행 -->
<!-- 	                <div class="row clear">
	                  <div class="col-md-12 col-sm-12 col-xs-12">
	                    <div class="x_panel">
	                        <div class="x_title">
	                        <h2>차량운행 <small class="t_red">차량운행은 개별 업데이트입니다.</small></h2>
	                        <ul class="nav navbar-right panel_toolbox">
	                            <li><a href="#" class="btn btn-danger">업데이트</a></li>
	                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
	                        </ul>
	                        <div class="clearfix"></div>
	                        </div>
	                        <div class="x_content">
	                            <table class="h_table">
	                                <colgroup>
	                                    <col width="10%"/>
	                                    <col width="10%"/>
	                                    <col width="10%"/>
	                                    <col width="10%"/>
	                                    <col width="10%"/>
	                                    <col width="10%"/>
	                                    <col width="10%"/>
	                                    <col width="10%"/>
	                                    <col width="10%"/>
	                                    <col width="*"/>
	                                    <col width="70px;"/>
	                                </colgroup>
	                                <thead>
	                                  <tr>
	                                    <th>사업구분</th>
	                                    <th>출발구분</th>
	                                    <th>출발일</th>
	                                    <th>출발시간</th>
	                                    <th>출발지</th>
	                                    <th>도착구분</th>
	                                    <th>도착명</th>
	                                    <th>도착시간</th>
	                                    <th>도착지</th>
	                                    <th>주행거리</th>
	                                    <th></th>
	                                  </tr>
	                                </thead>
	                                <tbody>
	                                    <tr>
	                                        <td>
	                                          <select name="busiTripCar[0][useGubun]">
	                                            <option value="">선택</option>
	                                            <option value="업무용"></option>
	                                            <option value="개인용"></option>
	                                          </select>
	                                        </td>
	                                        <td>
	                                          <select name="busiTripCar[0][startGubun]">
	                                            <option value="">선택</option>
	                                            <option th:each="startGubun : ${gubunList2}" th:text="${startGubun.value}" th:value="${startGubun.text}" ></option>
	                                          </select>
	                                        </td>
	                                        <td><input type="text" name="busiTrip[0][startDate]" /></td>
	                                        <td>
												<input type="text" class="myDatepicker" name="busiTripCar[0][startTime]" />
	                                        </td>
	                                        <td><input type="text" name="busiTripCar[0][startPlace]" /></td>
	                                        <td>
												<select name="busiTripCar[0][endGubun]">
	                                            <option value="">선택</option>
	                                            <option th:each="startGubun : ${gubunList2}" th:text="${startGubun.value}" th:value="${startGubun.text}" ></option>
	                                          </select>
	                                        </td>
	                                        <td><input type="text" name="busiTrip[0][endDate]" /></td>
	                                        <td>
												<input type="text" class="myDatepicker" name="busiTripCar[0][endTime]" />
	                                        </td>
	                                        <td><input type="text" name="busiTripCar[0][endPlace]" /></td>
	                                        <td><input class="w50p" type="text" name="busiTripCar[0][distance]" /> km</td>
	                                        <td>
	                                            <button class="tbl_row_add"><i class="fa fa-plus"></i></button>
	                                            <button class="tbl_row_remove"><i class="fa fa-minus"></i></button>
	                                        </td>
	                                    </tr>
	                                </tbody>
	                            </table>
	                        </div>
	                    </div>
	                  </div>
	                </div> -->
	                <!-- /차량운행 -->
	
	                <!-- 미팅내용 -->
	                <div class="row clear">
	                    <div class="col-md-12 col-sm-12 col-xs-12">
	                      <div class="x_panel">
	                          <div class="x_title">
	                          <h2>미팅내용 <small class="t_red">미팅내용은 개별 업데이트입니다.</small></h2>
	                          <ul class="nav navbar-right panel_toolbox">
	                              <li><a href="#" class="btn btn-danger">업데이트</a></li>
	                              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
	                          </ul>
	                          <div class="clearfix"></div>
	                          </div>
	                          <div class="x_content">
	                              <table class="n_table">
	                                  <colgroup>
	                                      <col width="10%"/>
	                                      <col width="*"/>
	                                  </colgroup>
	                                  <tbody>
	                                      <tr>
	                                          <th>선택항목</th>
	                                          <td>&#91;538205&#93; <a href="#">에스엔비플러스&#40;148456847&#41;</a></td>
	                                      </tr>
	
	                                      <tr>
	                                          <th>미팅참석자</th>
	                                          <td class="pd0">
	                                              <table class="h_table in_table">
	                                                  <colgroup>
	                                                      <col width="10px"/>
	                                                      <col width="10%"/>
	                                                      <col width="10%"/>
	                                                      <col width="10%"/>
	                                                      <col width="10%"/>
	                                                      <col width="10%"/>
	                                                      <col width="10%"/>
	                                                      <col width="10%"/>
	                                                      <col width="*"/>
	                                                  </colgroup>
	                                                  <thead>
	                                                    <tr>
	                                                      <th>No</th>
	                                                      <th>근무</th>
	                                                      <th>이름</th>
	                                                      <th>직급</th>
	                                                      <th>부서</th>
	                                                      <th>전화</th>
	                                                      <th>핸드폰</th>
	                                                      <th>메일</th>
	                                                      <th>비고(성향, 입수정보 등)</th>
	                                                    </tr>
	                                                  </thead>
	                                                  <tbody>
	                                                      <tr>
	                                                          <td>
	                                                            <input type="checkbox" id="customCheck1"  class="custom_check" name="busiTripMember[0][id]" />
	                                                            <label for="customCheck1"><span><i class="fa fa-check"></i></span></label>
	                                                          </td>
	                                                          <td>데이터</td>
	                                                          <td>데이터</td>
	                                                          <td>데이터</td>
	                                                          <td>데이터</td>
	                                                          <td>데이터</td>
	                                                          <td>데이터</td>
	                                                          <td>데이터</td>
	                                                          <td>데이터</td>
	                                                      </tr>
	                                                  </tbody>
	                                              </table>
	                                          </td>
	                                      </tr>
	                                      <tr>
	                                          <th>방문결과</th>
	                                          <td>
	                                            <textarea class="mb10" placeholder="사업완료 및 사업비 잔액 관련 협의" name="tripResult"></textarea>
	                                            <input type="file" name="businessFile" id="businessFile" />
	                                          </td>
	                                      </tr>
	                                  </tbody>
	                              </table>
	                              
	                          </div>
	                      </div>
	                    </div>
	                </div>
	                <!-- /미팅내용 -->
	
	                <!-- 업체방문이력 -->
	                <div class="row clear">
	                    <div class="col-md-12 col-sm-12 col-xs-12">
	                      <div class="x_panel">
	                          <div class="x_title">
	                          <h2>업체방문이력</h2>
	                          <ul class="nav navbar-right panel_toolbox">
	                              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
	                          </ul>
	                          <div class="clearfix"></div>
	                          </div>
	                          <div class="x_content">
	                            <table class="h_table">
	                                <colgroup>
	                                    <col width="10%"/>
	                                    <col width="10%"/>
	                                    <col width="10%"/>
	                                    <col width="*"/>
	                                </colgroup>
	                                <thead>
	                                  <tr>
	                                    <th>날짜</th>
	                                    <th>방문자</th>
	                                    <th>미팅자</th>
	                                    <th>내용</th>
	                                  </tr>
	                                </thead>
	                                <tbody>
	                                    <tr>
	                                        <td>2019-06-03</td>
	                                        <td>데이터</td>
	                                        <td>데이터</td>
	                                        <td class="t_l">데이터</td>
	                                    </tr>
	                                </tbody>
	                            </table>
	                          </div>
	                      </div>
	                    </div>
	                </div>
	                <!-- /업체방문이력 -->
	            </div>
	        </div>
	            <!-- Initialize datetimepicker -->

        	<!-- /page content -->
		 </div>
		
		


  </body>
</html>