<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/body">
  <!-- index.html 고유 CSS 추가 -->
	<body>
	     <div layout:fragment="content">
	        <!-- page content -->
	        <div class="right_col" role="main">
	            <div class="">
	                <div class="page-title">
	                    <div class="title_left">
	                        <h3>출장외근보고</h3>
	                    </div>
	
	                    <div class="title_right t_r">
	                      <a class="btn btn-primary" href="/busiTrip/list" >List</a>
	                      <a class="btn btn-default" href="/busiTrip/cal">Calander</a>
	                    </div>
	                </div>
	                
	                <div class="clearfix"></div>
	
	                <div class="row clear">
	                    <div class="col-md-12 col-sm-12 col-xs-12">
	                        <div class="x_panel">
	                            <div class="x_title">
	                            <h2>업체리스트</h2>
	                            <ul class="nav navbar-right panel_toolbox">
	                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                                </li>
	                            </ul>
	                            <div class="clearfix"></div>
	                            </div>
	                            <div class="x_content">
	                                <table class="h_table">
	                                    <colgroup>
	                                        <col width="45px" />
	                                        <col width="8%" />
	                                        <col width="10%" />
	                                        <col width="12%" />
	                                        <col width="10%" />
	                                        <col width="10%" />
	                                        <col width="10%" />
	                                        <col width="*%" />
	                                    </colgroup>
	                                    <thead>
	                                        <tr>
	                                            <th>번호</th>
	                                            <th>구분</th>
	                                            <th>날짜</th>
	                                            <th>업체명</th>
	                                            <th>방문자</th>
	                                            <th>방문지역</th>
	                                            <th>미팅시간</th>
	                                            <th>내용</th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                        <tr th:each="busiTrip : ${busiTripList}">
	                                            <td th:text="${busiTrip.id}">1</td>
	                                            <td th:text="${busiTrip.workGubun}">외근</td>
	                                            <td th:text="${busiTrip.created}">20190624</td>
	                                            
	                                            <td ><a th:text="test" th:href='@{/busiTrip/view(id=${busiTrip.id})}'></a></td>
	                                           
	                                            <td th:text="${busiTrip.user.name}">진연경</td>
	                                            <td th:text="${busiTrip.tripArea}">서울</td>
	                                            <td th:text="|${busiTrip.meetingStartTime} ~ ${busiTrip.meetingEndTime}|">9:00 ~ 12:30</td>
	                                            <td></td>
	                                        </tr>
	                                    </tbody>
	                                </table>
	                                <div class="table_btns">
	                                    <ul>
	                                        <li><button class="btn btn-success">등록</button></li>
	                                        <!-- <li><button class="btn btn-primary">수정</button></li>
	                                        <li><button class="btn btn-danger">삭제</button></li>
	                                        <li><button class="btn btn-default">목록으로</button></li> -->
	                                    </ul>       
	                                </div>
	                                <div class="clearfix"></div>
	                                <div th:if="${busiTripList.totalPages > 0}" class="dataTables_paginate paging_simple_numbers">
	                                    <ul class="pagination">
	                                        <li th:class="${busiTripList.number eq 0}?'disabled':''" class="paginate_button previous disabled" id="datatable-buttons_previous">
	                                            <a href="#"><i class="fa fa-angle-left"></i></a>
	                                        </li>
	                                        <li th:each="no : ${#numbers.sequence(0, busiTripList.totalPages-1)}" th:class="${busiTripList.number eq no}?'active':''" class="paginate_button active">
	                                            <a href="#" th:text="${no+1}"></a>
	                                        </li>
	                                        <li th:class="${busiTripList.number+1 ge busiTripList.totalPages}?'disabled':''" class="paginate_button next" id="datatable-buttons_next">
	                                            <a href="#"><i class="fa fa-angle-right"></i></a>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                
	            </div>
	        </div>
        	<!-- /page content -->
		 </div>
		
		


  </body>
</html>