<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/body">
  <!-- index.html 고유 CSS 추가 -->
	<body>
	     <div layout:fragment="content">
	        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>차량운행 리스트</h3>
                    </div>
                </div>
                
                <div class="clearfix"></div>

                <div class="row clear">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                            <h2>차량운행 리스트</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table class="h_table">
                                    <colgroup>
										<col width="14.2%"/>
										<col width="14.2%"/>
										<col width="14.2%"/>
										<col width="14.2%"/>
										<col width="14.2%"/>
										<col width="14.2%"/>
										<col width="*"/>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>차번호</th>
                                            <th>운행자</th>
                                            <th>운행일자</th>
                                            <th>동승자 소속</th>
                                            <th>동승자 성명</th>
                                            <th>주행거리</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="list : ${carList}" th:onclick="|location.href='@{/busiTrip/carView(id=${list.id})}'| ">
                                            <td th:text="${list.id}"></td>
                                            <td th:text="${list.car.carNo}"></td>
                                            <td th:text="${list.user.name}"></td>
                                            <td th:text="${list.driveDate}"></td>
                                            <td th:text="${list.dept}"></td>
                                            <td th:text="${list.name}"></td> 
                                            <td th:text="${list.distance}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="table_btns">
                                    <ul>
                                        <li><button class="btn btn-success" onclick="location.href='/busiTrip/carWrite'">등록</button></li>
                                        <!-- <li><button class="btn btn-primary">수정</button></li>
                                        <li><button class="btn btn-danger">삭제</button></li>
                                        <li><button class="btn btn-default">목록으로</button></li> -->
                                    </ul>       
                                </div>
                                <div class="clearfix"></div>
	                                <div th:if="${carList.totalPages > 0}" class="dataTables_paginate paging_simple_numbers">
	                                    <ul class="pagination">
	                                        <li th:class="${carList.number eq 0}?'disabled':''" class="paginate_button previous disabled" id="datatable-buttons_previous">
	                                            <a href="#"><i class="fa fa-angle-left"></i></a>
	                                        </li>
	                                        <li th:each="no : ${#numbers.sequence(0, carList.totalPages-1)}" th:class="${carList.number eq no}?'active':''" class="paginate_button active">
	                                            <a href="#" th:text="${no+1}"></a>
	                                        </li>
	                                        <li th:class="${carList.number+1 ge carList.totalPages}?'disabled':''" class="paginate_button next" id="datatable-buttons_next">
	                                            <a href="#"><i class="fa fa-angle-right"></i></a>
	                                        </li>
	                                    </ul>
	                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        	<!-- /page content -->
		 </div>
		
		


  </body>
</html>