<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/body">
  <!-- index.html 고유 CSS 추가 -->
	<body>
	     <div layout:fragment="content">
	        <!-- page content -->
	        			<div class="right_col" role="main">
	            <div class="">
	                <div class="page-title">
	                    <div class="title_left">
	                        <h3>차량운행보고</h3>
	                    </div>
	
	                    <div class="title_right t_r">
	                      <a class="btn btn-success" href="javascript:onSubmit();">등록</a>
	                    </div>
	                </div>
	                
	                <div class="clearfix"></div>
	        
	        	                <!-- 차량운행 -->
	        	    <form action="/busiTrip/carSave" method="post" id="carForm" name="carForm" onsubmit="return false;">
	                <div class="row clear">
	                  <div class="col-md-12 col-sm-12 col-xs-12">
	                    <div class="x_panel">
	                        <div class="x_title">
	                        <h2>차량운행</h2>
	                        <ul class="nav navbar-right panel_toolbox">
	                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
	                        </ul>
	                        <div class="clearfix"></div>
	                        </div>
	                        <div class="x_content">
	                            <table class="h_table">
	                                <colgroup>
	                                    <col width="12%" />
	                                    <col width="10%" />
	                                    <col width="8%" />
	                                    <col width="8%" />
	                                    <col width="8%" />
	                                    <col width="8%" />
										<col width="8%" />
										<col width="8%" />
										<col width="8%" />
										<col width="*" />
	                                </colgroup>
	                                <thead>
	                                 <tr>
	                                 	<th rowspan="3">차량번호</th>
	                                  	<th rowspan="3">사용일자(요일)</th>
	                                    <th colspan="2">사용자(동승자)</th>
	                                    <th colspan="6">운행 내역</th>
	                                  </tr>
	                                  <tr>
	                                    <th rowspan="2">동승자 소속</th>
	                                    <th rowspan="2">동승자 성명</th>
	                                    <th rowspan="2">주행전 거리(km)</th>
	                                    <th rowspan="2">주행후 거리(km)</th>
	                                    <th rowspan="2">주행거리(km)</th>
	                                    <th colspan="2">업무용 사용거리(km)</th>	                                   
	                                    <th rowspan="2">비고</th>
	                                  </tr>
	                                  <tr>
	                                    <th>출/퇴근용</th>
	                                    <th>일반 업무용</th>
	                                  </tr>
	                                </thead>
	                                <tbody>
	                                    <tr>
	                                    	<td>
	                                    		<select name="carNo">
		                                            <option value="">선택</option>
		                                            <option th:each="list : ${carList}" th:text="${list.carNo}" th:value="${list.id}"  ></option>
	                                         	</select>	                                    	
	                                    	</td>
	                                        <td>
												<input type="text" name="driveDate"  class="form-control" id="single_cal1" />
	                                        </td>
	                                        <td>
												<input type="text" name="dept" id="dept"  />
	                                        </td>
	                                        <td>
	                                        	<input type="text" name="name" id="name" />
	                                        </td>
											<td>
												<input type="number" step="0.01" style="width:100%" name="beforeDistance" id="beforeDistance" pattern="^\d*(\.\d{0,2})?$" value="0" />
											</td>
											<td>
												<input type="number" step="0.01" style="width:100%" name="afterDistance" id="afterDistance" pattern="^\d*(\.\d{0,2})?$" value="0" />	
											</td>
	                                        <td>
	                                       	 	<input type="number" step="0.01" style="width:100%" name="distance" id="distance" pattern="^\d*(\.\d{0,2})?$"  value="0" /> 
	                                        </td>
	                                        <td>
	                          					<input type="number" step="0.01" style="width:100%" name="glDistance" id="giDistance" pattern="^\d*(\.\d{0,2})?$" value="0"/>
	                                        </td>
	                                        <td>
	                                        	<input type="number" step="0.01" style="width:100%" name="nomalDistance" id="nomalDistance" pattern="^\d*(\.\d{0,2})?$" value="0"/>             
	                                        </td>
	                                        <td>
	                                           	<input type="text" name="etc" id="etc" /> 
	                                        </td>
	                                    </tr>
	                                </tbody>
	                            </table>
	                        </div>
	                    </div>
	                  </div>
	                </div>
	                </form>
	               <script th:inline="javascript">
	                function onSubmit(){
		               	var form = $("#carForm")[0];	                
		            	form.submit();
	                }	

	                	
	                </script>

	                <!-- /차량운행 -->
	                
	                	            </div>
	        </div>
	            <!-- Initialize datetimepicker -->
	        
        	<!-- /page content -->
		</div>
		
		


  </body>
</html>