<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/body">
  <!-- index.html 고유 CSS 추가 -->



	<body>
	     <div layout:fragment="content">
	        <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>계약서 등록</h3>
            </div>

            <div class="title_right t_r">
              <button class="btn btn-danger">상신</button>
              <button class="btn btn-primary">승인</button>
              <button class="btn btn-success">등록</button>
            </div>
          </div>

          <div class="clearfix"></div>

          <!-- 계약일반 -->
          <div class="row clear">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>계약일반</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <form id="contractInfoForm">
                    <table class="nh_table">
                      <colgroup>
                        <col width="10%" />
                        <col width="10%" />
                        <col width="20%" />
                        <col width="20%" />
                        <col width="*" />
                      </colgroup>
                      <thead>
                        <tr>
                          <th>업체명</th>
                          <th>계약연도</th>
                          <th>사업명</th>
                          <th>지원구분</th>
                          <th>비고</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <select name="contractInfo" id="" >
                              <option value="0">선택</option>
                              <option th:each="company : ${companyList}" th:value="${company.id}" th:text="${company.companyName}"></option>
                            </select>
                          </td>
                          <td>
                            <select name="year" id="">
                              <option value="0">선택</option>
                              <option th:each="year : ${year}" th:value="${year}" th:text="${year}"></option>
                            </select>
                          </td>
                          <td>
                            <select name="contractName" id="">
                              <option value="0">선택</option>
                              <option th:each="Business : ${BusinessList}" th:value="${Business}" th:text="${Business}"></option>
                            </select>
                          </td>
                          <td>
                            <select name="gubun" id="">
                              <option value="0">선택</option>
                              <option th:each="BusinessApplyKind : ${BusinessApplyKindList}" th:value="${BusinessApplyKind}" th:text="${BusinessApplyKind}"></option>
                            </select>
                          </td>
                          <td>
                            <input name="etc" type="text" />
                          </td>
                        </tr>
                        <tr>
                          <th colspan="2">계약내용일반</th>
                          <td colspan="3">
                            <input name="contect" type="text" />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- /계약일반 -->

          <!-- 승인내역 -->
          <div class="row clear">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>승인내역</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <form id="approvalForm">
                    <table class="h_table">
                      <colgroup>
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="*" />
                      </colgroup>
                      <thead>
                        <tr>
                          <th>항목</th>
                          <th>승인금액(만원)</th>
                          <th>업체부담(만원)</th>
                          <th>지원금액(만원)</th>
                          <th>비고</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <select name="gubun" id="">
                              <option value="">선택</option>
                              <option th:each="BusinessCategory : ${BusinessCategoryList}" th:value="${BusinessCategory.getKey()}" th:text="${BusinessCategory.getValue()}"></option>
                            </select>
                          </td>
                          <td>1,000</td>
                          <td>
                            <input name="burdenPay" type="text" />
                          </td>
                          <td>
                            <input name="supportPay" type="text" />
                          </td>
                          <td>
                            <input name="etc" type="text" />
                          </td>
                        </tr>

                        <!--<tr>
                          <td colspan="4"></td>
                          <td class="pd0">
                            <table class="h_table in_table last_border mb20">
                              <colgroup>
                                <col width="16%" />
                                <col width="16%" />
                                <col width="16%" />
                                <col width="16%" />
                                <col width="*" />
                              </colgroup>
                              <thead>
                                <tr>
                                  <th colspan="6" class="t_l"><i class="fa fa-check-square-o"></i> 세금계산서</th>
                                </tr>
                                <tr>
                                  <th>품목</th>
                                  <th>발행구분</th>
                                  <th>공급가액</th>
                                  <th>신청일</th>
                                  <th>발행일</th>
                                  <th>File Link</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>데이터</td>
                                  <td>데이터</td>
                                  <td>데이터</td>
                                  <td>데이터</td>
                                  <td>데이터</td>
                                  <td><a href="#"><i class="fa fa fa-file"></i></a></td>
                                </tr>
                              </tbody>
                            </table>

                            <table class="h_table in_table first_border last_border mb20">
                              <colgroup>
                                <col width="12.5%" />
                                <col width="12.5%" />
                                <col width="12.5%" />
                                <col width="12.5%" />
                                <col width="12.5%" />
                                <col width="12.5%" />
                                <col width="12.5%" />
                                <col width="12.5%" />
                              </colgroup>
                              <thead>
                                <tr>
                                  <th colspan="8" class="t_l"><i class="fa fa-check-square-o"></i> 수금현황</th>
                                </tr>
                                <tr>
                                  <th>구분</th>
                                  <th>내용</th>
                                  <th>금액</th>
                                  <th>부담금</th>
                                  <th>부가세</th>
                                  <th>잔금</th>
                                  <th>기타</th>
                                  <th>입금일</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>
                              </tbody>
                            </table>

                            <table class="h_table in_table first_border">
                              <colgroup>
                                <col width="14%" />
                                <col width="14%" />
                                <col width="14%" />
                                <col width="14%" />
                                <col width="14%" />
                                <col width="14%" />
                                <col width="*" />
                              </colgroup>
                              <thead>
                                <tr>
                                  <th colspan="7" class="t_l"><i class="fa fa-check-square-o"></i> 이행보증증권</th>
                                </tr>
                                <tr>
                                  <th>구분</th>
                                  <th>과업</th>
                                  <th>기간</th>
                                  <th>금액</th>
                                  <th>신청일</th>
                                  <th>발행일</th>
                                  <th>File</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>-->
                      </tbody>
                    </table>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- /승인내역 -->

          <!-- 실작업 내역 -->
          <div class="row clear">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>실작업 내역</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <form id="contractWorkForm">
                    <table class="nh_table mb20">
                      <colgroup>
                        <col width="10%" />
                        <col width="10%" />
                        <col width="8%" />
                        <col width="8%" />
                        <col width="8%" />
                        <col width="8%" />
                        <col width="8%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="*" />
                        <col width="61px" />
                      </colgroup>
                      <thead>
                        <tr>
                          <th>항목</th>
                          <th>계약금액(만원)</th>
                          <th>언어</th>
                          <th>촬영</th>
                          <th>번역</th>
                          <th>인쇄</th>
                          <th>보고</th>
                          <th>보고일</th>
                          <th>의뢰일</th>
                          <th>비고</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody class="tbody_data">
                        <tr>
                          <td>
                            <select name="" id="">
                              <option value="">선택</option>
                              <option th:each="BusinessCategory : ${BusinessCategoryList}" th:value="${BusinessCategory.getKey()}" th:text="${BusinessCategory.getValue()}"></option>
                            </select>
                          </td>
                          <td>
                            <input name="contractPay" type="text" />
                          </td>
                          <td class="t_c">
                            <button type="button" class="btn btn-primary lang_btn mg0" data-toggle="modal"
                              data-target=".modal_lang">언어선택 <i class="fa fa fa-folder-open-o"></i></button>
                            <div class="modal fade modal_lang" tabindex="-1" role="dialog" aria-hidden="true">
                              <div class="modal-dialog modal-lg t_l">
                                <div class="modal-content">

                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                                        aria-hidden="true">×</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">언어 선택</h4>
                                  </div>
                                  <div class="modal-body">
                                    <table class="n_table lang_table">
                                      <colgroup>
                                        <col width="10%" />
                                        <col width="*" />
                                      </colgroup>
                                      <tbody>
                                        <tr>
                                          <th>언어</th>
                                          <td class="pd0">
                                            <div class="lang_style_wrap">
                                              <ul class="clear">
                                                <li th:each="lang : ${LangList}">
                                                  <input type="checkbox" th:id="${'lang' + lang.getKey()}" id="langKo" class="custom_check" th:value="${lang.getKey()}"/>
                                                  <label th:for="${'lang' + lang.getKey()}" for="langKo"><span><i class="fa fa-check"></i></span> <span th:text="${lang.getValue()}" th:remove="tag"></span> </label>
                                                </li>
                                              </ul>
                                            </div>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </td>
                          <td>
                            <select name="shooting" id="">
                              <option value="">선택</option>
                              <option value="">있음</option>
                              <option value="">없음</option>
                            </select>
                          </td>
                          <td>
                            <select name="translation" id="">
                              <option value="">선택</option>
                              <option value="">있음</option>
                              <option value="">없음</option>
                            </select>
                          </td>
                          <td>
                            <select name="prInteger" id="">
                              <option value="">선택</option>
                              <option value="">있음</option>
                              <option value="">없음</option>
                            </select>
                          </td>
                          <td>
                            <select name="report" id="">
                              <option value="">선택</option>
                              <option value="">디자인 보고 필수</option>
                              <option value="">미보고</option>
                            </select>
                          </td>
                          <td>
                            <input name="reportDate" type="text" />
                          </td>
                          <td>
                            <input name="requestDate" type="text" />
                          </td>
                          <td>
                            <input name="completeDate" type="text" />
                          </td>
                          <td>
                            <button type="button" class="tbl_row_add"><i class="fa fa-plus"></i></button>
                            <button type="button" class="tbl_row_remove"><i class="fa fa-minus"></i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </form>

                </div>
              </div>
            </div>
          </div>
          <!-- /실작업 내역 -->


          <!-- 업체자료 -->
          <div class="row clear">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>업체자료</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <form id="ContractFile" method="post" enctype="multipart/form-data">
                    <table class="nh_table">
                      <colgroup>
                        <col width="10%" />
                        <col width="*" />
                        <col width="61px" />
                      </colgroup>
                      <thead>
                        <tr>
                          <th>항목</th>
                          <th>파일명</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <select name="ContractFile[0][businessCategory]" id="">
                              <option value="">선택</option>
                              <option th:each="BusinessCategory : ${BusinessCategoryList}" th:value="${BusinessCategory.getKey()}" th:text="${BusinessCategory.getValue()}"></option>
                            </select>
                          </td>
                          <td>
                            <input type="file" name="ContractFile[0][file]"/>
                          </td>
                          <td>
                            <button type="button" class="tbl_row_add" ><i class="fa fa-plus"></i></button>
                            <button type="button"  class="tbl_row_remove" ><i class="fa fa-minus"></i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- /업체자료 -->
          <div class="t_r">
            <button class="btn btn-danger">상신</button>
            <button class="btn btn-primary">승인</button>
            <button class="btn btn-success" id="saveButton">등록</button>
          </div>
        </div>
      </div>


           <script type="text/javascript" th:inline="javascript">
             /* <![CDATA[ */
             $(document).ready(function() {

               $("#saveButton").click(function() {

                 if(!confirm('등록하시겠습니까?')) {
                   return false;
                 }

                 console.log($("#contractInfoForm").serializeObject());
                 console.log($("#approvalForm").serializeObject());
                 console.log($("#contractWorkForm").serializeObject());
                 console.log($("#ContractFile").serializeObject());

                 var contractInfo = $("#contractInfoForm").serializeObject();
                 var approval = $("#approvalForm").serializeObject();
                 var work = $("#contractWorkForm").serializeObject();
                 var file = $("#ContractFile").serializeObject();

                 var contract = {
                   gubun : '접수', //todo
                   workerName : '',  //todo
                   contractName : contractInfo.companyName,
                   contractYear : contractInfo.year ,
                   pay : '',
                   contractInfo : contractInfo

                 };

                 var formData = new FormData($("#ContractFile")[0])

                 $.ajax({
                   type: "POST",
                   enctype: 'multipart/form-data',
                   url: "/file/upload/contract",
                   data: formData,
                   processData: false,
                   contentType: false,
                   cache: false,
                   timeout: 600000,
                   success: function (data) {
                     console.log("SUCCESS : ", data);
                     for(var i = 0; i < data.length; i++) {
                       file.ContractFile[i]['fileId'] = data[i].id;
                     }
                    console.log(file)


                     $.ajax({
                       method: 'POST',
                       url: '/contract/api/create',
                       data: JSON.stringify(contract) ,
                       contentType: "application/json",
                       success: function (data) {
                         console.log("SUCCESS : ", data);
                         alert("신규등록이 완료되었습니다.");
                         location.href="list";
                       },
                       error: function (e) {
                         console.log("ERROR : ", e);
                       }
                     })

                   },
                   error: function (e) {
                     console.log("ERROR : ", e);
                   }
                 });




                 /*console.log($("#form5")[0]);

                 var formData = new FormData($("#ContractFile")[0])

                 $.ajax({
                   type: "POST",
                   enctype: 'multipart/form-data',
                   url: "/file/upload/contract",
                   data: formData,
                   processData: false,
                   contentType: false,
                   cache: false,
                   timeout: 600000,
                   success: function (data) {
                     console.log("SUCCESS : ", data);
                   },
                   error: function (e) {
                     console.log("ERROR : ", e);
                   }
                 });
*/

               })

             })
             /* ]]> */
           </script>

        	<!-- /page content -->
		</div>
		



  </body>
</html>