<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/body">
  <!-- index.html 고유 CSS 추가 -->
	<body>
	     <div layout:fragment="content">
	        <!-- page content -->
			<div class="right_col" role="main">
	            <div class="member_list">
	                <div class="page-title">
	                    <div class="title_left">
	                        <h3>인사정보</h3>
	                    </div>
	
	                    <div class="title_right t_r">
	                        <a class="btn btn-success">등록</a>
	                    </div>	
	                </div>
	                
	                <div class="clearfix"></div>
	   

	                	<div class="row clear" th:field="*{chartList}" >
	                   
		                    <div class="col-md-6 col-sm-6 col-xs-12" th:each="deptList : ${chartList}"  th:if="${deptList.deptUser != null and !deptList.deptUser.empty}" >
		                       
		                        <div class="x_panel">
		                            <div class="x_title">
		                            <h2 th:text="${deptList.orgName}"></h2>
		                            <ul class="nav navbar-right panel_toolbox">
		                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
		                                </li>
		                            </ul>
		                            <div class="clearfix"></div>	
		                            </div>
		                            <div class="x_content">
		                                <div class="col-md-6 col-sm-6 col-xs-12" th:each="userList : ${deptList.deptUser}">
		                                  <div class="profile_item">
		                                    <a th:href="@{/user/view(id=${userList.id})}">
<!-- 		                                      <div class="img_area" th:if="${userList.userFile.fileAttach.path != null and userList.userFile.fileAttach.path != ''}" style="background:url('${userList.userFile.fileAttach.path}') no-repeat center;"></div>
		                                       <div class="img_area" th:unless="${userList.userFile.fileAttach.path != null and userList.userFile.fileAttach.path != ''}" style="background:url('/resource/images/user.png') no-repeat center;"></div> -->
											   <div class="img_area" style="background:url('/resource/images/user.png') no-repeat center;"></div>		                                     
		                                      <div class="txt_area">
		                                        <strong th:text="${userList.name}"></strong><small th:text="${userList.position}"></small>
		                                        <p th:text="${deptList.orgName}"></p>
		                                        <ul>
		                                          <li th:text="|TEL : ${userList.telNo}|"></li>
		                                          <li th:text="|H.P. : ${userList.phoneNo}|"></li>
		                                          <li th:text="|Mail : ${userList.email}|"></li>
		                                        </ul>
		                                      </div>
		                                      <div class="btn-group">
		                                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">서명이미지 <span class="caret"></span></button>
		                                        <ul role="menu" class="dropdown-menu">
		                                            <li><img src="images/no_img.jpg"  width="158px" /></li>                                
		                                        </ul>
		                                      </div>
		                                    </a>
		                                  </div>
		                                </div>
		                            </div>
		                        </div>
		                    </div>

	
		            	</div>
		
		        </div>
	        </div>
        	<!-- /page content -->
		 </div>
		
		


  </body>
</html>