<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/body">
  <!-- index.html 고유 CSS 추가 -->
	<body>
	     <div layout:fragment="content">
	        <!-- page content -->
	        <div class="right_col" role="main">
	            <div class="">
	                <div class="page-title">
	                    <div class="title_left">
	                        <h3>가입 대기명단</h3>
	                    </div>
	
	                    <div class="title_right">
	                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
	                        <div class="input-group">
	                            <input type="text" class="form-control" placeholder="Search for..."/>
	                            <span class="input-group-btn">
	                            <button class="btn btn-default" type="button">Go!</button>
	                            </span>
	                        </div>
	                        </div>
	                    </div>
	                </div>
	                
	                <div class="clearfix"></div>
	
	                <div class="row clear">
	                    <div class="col-md-12 col-sm-12 col-xs-12">
	                        <div class="x_panel">
	                            <div class="x_title">
	                            <h2>업체리스트</h2>
	                            <ul class="nav navbar-right panel_toolbox">
	                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                                </li>
	                            </ul>
	                            <div class="clearfix"></div>
	                            </div>
	                            <div class="x_content">
	                                <table class="h_table">
	                                    <colgroup>
	                                      <col width="45px" />
	                                      <col width="13%" />
	                                      <col width="14%" />
	                                      <col width="10%" />
	                                      <col width="10%" />
	                                      <col width="10%" />
	                                      <col width="10%" />
	                                      <col width="15%" />
	                                      <col width="*" />
	                                    </colgroup>
	                                    <thead>
	                                        <tr>
	                                            <th>번호</th>
	                                            <th>구분</th>
	                                            <th>소속회사명</th>
	                                            <th>이름</th>
	                                            <th>직급</th>
	                                            <th>내선번호</th>
	                                            <th>휴대폰번호</th>
	                                            <th>이메일</th>
	                                            <th>비고</th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                        <tr th:each="user : ${userList}">
	                                            <td ></td>
	                                            <td th:text="${user.tesk}"></td>
	                                            <td><a th:href="@{/user/view(id=${user.id})" th:text="${user.tesk}">에스엔비식품</a></td>
	                                            <td th:text="${user.companyName"></td>
	                                            <td th:text="${user.rank}"></td>
	                                            <td th:text="${user.extensionNo}"></td>
	                                            <td th:text="${user.telNo}"></td>
	                                            <td tx:text="${user.email}"></td>
	                                            <td tx:text="${user.etc}"></td>
	                                        </tr>
	                                    </tbody>
	                                </table>
	                                <div class="table_btns">
	                                    <ul>
	                                        <li><button class="btn btn-success">등록</button></li>
	                                        <!-- <li><button class="btn btn-primary">수정</button></li>
	                                        <li><button class="btn btn-danger">삭제</button></li>
	                                        <li><button class="btn btn-default">목록으로</button></li> -->
	                                    </ul>       
	                                </div>
	                                <div class="clearfix"></div>
									<!--  pagination -->
									<div class="dataTables_paginate paging_simple_numbers">
	                                    <ul class="pagination" th:if="${userList.totalPages >0}" >
	                                        <li th:each="pageNo : ${pageNo}" class="paginate_button" th:class="${pageNo == userList.number +1 } ? active">
	                                            <a th:href="@{/company/list(size=${userList.size}, page=${pageNo-1}, sort=|id,desc|)}" th:text="${pageNo-1}"></a>
	                                        </li>
	                                    </ul>
	                                </div>
									<!-- /pagination -->
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                
	            </div>
	        </div>
        	<!-- /page content -->
		 </div>
		
		


  </body>
</html>