@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap');
/* 태그초기화 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video /* strong , b */ {
    margin: 0;
    padding: 0;
    border: 0;
}

html {height: 100%;}
body {width: 100%; min-height: 100%;  margin: 0; padding: 0;}
table {border-collapse: collapse; vertical-align: top; border-spacing: 0;}
img {vertical-align: top;}
a {color: #666666; text-decoration: none;}
a:hover, a:active, a:focus {color: #666666;}
ul, ol, li {list-style: none;}
em, var {font-style: normal;}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {display: block;}
select, input {vertical-align: middle;}

/* 줄바꿈 */
/*div, p, span, li, table td {word-break: break-all;} /* 국문 */
div, p, span, li, table td {word-break: normal;} /* 영문 */
caption, legend {visibility: hidden; overflow: hidden; width: 0; height: 0; margin: 0; padding: 0; font-size: 0; line-height: 0;}
hr {visibility: hidden; overflow: hidden; position: absolute; width: 0; height: 0; font-size: 0; line-height: 0;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}

.clear:after{display: block; clear:both; content: "";}
.blind{position: absolute;left:-9999px;top:-9999px;width:0;height:0;overflow:hidden;font-size:0;visibility: hidden;}

/* 공통 스타일 */
table{border-collapse: collapse;}
.t_c{text-align: center !important;}
.t_l{text-align: left !important;}
.t_r{text-align: right !important;}
.bg_g{background-color:#f0f2f9;}
.bg_g2{background-color:#e3e7f5;}
.w5p {width:5% !important;}
.w10p {width:10% !important;}
.w20p {width:20% !important;}
.w30p {width:30% !important;}
.w35p {width:35% !important;}
.w40p {width:40% !important;}
.w45p {width:45% !important;}
.w50p {width:50% !important;}
.w60p {width:60% !important;}
.w70p {width:70% !important;}
.w80p {width:80% !important;}
.w90p {width:90% !important;}
.w100p {width:100% !important;}

.pd0{padding:0 !important;}
.mg0{margin:0 !important;}
.mb0{margin-bottom:0 !important;}

.pl10{padding-left: 10px !important;}

.ml5{margin-left:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb20{margin-bottom:20px !important;}

.fa-red, .t_red{color:#E74C3C;}

/* 게시판 에디터 스타일 */
#editor-one ol{padding-left:40px;}
#editor-one ol li{list-style-type: decimal;}
#editor-one ul{padding-left:40px;}
#editor-one ul li{list-style-type: disc;}
/* 테이블 스타일 초기화 */
table input, table option, table textarea {-webkit-appearance: none; -moz-appearance: none; appearance: none; outline-style: none; box-sizing: border-box;}

/* 테이블 공통 스타일 */
table td input[type="file"]{width:100%;height:28px;border:1px solid #cdcdcd; padding:0 5px; box-sizing: border-box;}
table td select{width:100%;height:28px;border:1px solid #cdcdcd; padding:0 5px; padding-right:0; box-sizing: border-box;}
table td textarea{width:100%;height:100px;border:1px solid #cdcdcd; padding:5px; box-sizing: border-box;}
table td input[type="text"],
table td input[type="password"],
table td input[type="email"]{width:100%;height:28px;border:1px solid #cdcdcd; padding:5px;  box-sizing: border-box;}
table fieldset{border:0; display:inline-block;vertical-align:table input[type="radio"] + label span;}
table td input[type="file"]{width:100%;height:28px;border:0; padding:0px; box-sizing: border-box;}
table td input:focus,
table td select:focus,
table td textarea:focus{border:1px solid #003399;background-color: rgba(0, 51, 153, 0.05)}
table .tbl_row_add{background: #1ABB9C;border: 1px solid #1ABB9C; color:#ffffff; border-radius: 5px; margin:0; width:18px; height:18px;font-size: 10px; padding:0;}
table .tbl_row_remove{background: #E74C3C;border: 1px solid #E74C3C; color:#ffffff; border-radius: 5px; margin:0; width:18px; height:18px;font-size: 10px; padding:0;}
table .tbl_row_edit{background: #9B59B6;border: 1px solid #9B59B6; color:#ffffff; border-radius: 5px; margin:0; width:18px; height:18px;font-size: 10px; padding:0;}
table input:disabled{background-color:#f3f3f3;}
table input[type="checkbox"]{opacity:0;width:0;height:0;visibility: hidden;}
table input[type="checkbox"]+label{font-weight: 500;}
table input[type="checkbox"]+label span{
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: top;
    margin-top:2px;
    cursor: pointer;
    border:1px solid #2c9be7;
    border-radius: 2px;
}
table input[type="checkbox"]:checked+label span{
    border:1px solid #2c9be7;
    background-color: #2c9be7;
}
table input[type="checkbox"]+label span i{
    color:#ffffff;
    width: 15px;
    box-sizing: border-box;
    height: 18px;
    line-height: 16px;
    vertical-align: top;
    text-align: center;
    font-size: 10px;
    opacity:0 ;
}
table input[type="checkbox"]:checked+label span i{
    opacity:1 ;
}

table input[type="radio"]{opacity:0;width:0;height:0;visibility: hidden;}
table input[type="radio"]+label {
    cursor: pointer;
    font-weight: 500;
    font-size:14px;
}
table input[type="radio"]+label span{
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    cursor: pointer;
    border:1px solid #2c9be7;
    border-radius: 100%;
}
table input[type="radio"]:checked+label span{
    border:1px solid #2c9be7;
    background-color: #2c9be7;
}
table input[type="radio"]+label span i{
    color:#ffffff;
    width: 15px;
    box-sizing: border-box;
    height: 18px;
    line-height: 16px;
    vertical-align: top;
    text-align: center;
    font-size: 10px;
    opacity: 0;
}

table input[type="radio"]:checked+label span i{
    opacity: 1;
}
.custom_check{position: absolute;left:-9999px;top:-9999px;width:0;height:0;overflow:hidden;font-size:0;visibility: hidden;}

.search_area input[type="checkbox"]{opacity:0;width:0;height:0;visibility: hidden;}
.search_area input[type="checkbox"]+label span{
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: top;
    cursor: pointer;
    border:1px solid #2c9be7;
    border-radius: 2px;
}
.search_area input[type="checkbox"]:checked+label span{
    border:1px solid #2c9be7;
    background-color: #2c9be7;
}
.search_area input[type="checkbox"]+label span i{
    color:#ffffff;
    width: 15px;
    box-sizing: border-box;
    height: 18px;
    line-height: 16px;
    vertical-align: top;
    text-align: center;
    font-size: 10px;
}

/* htable 스타일 */
.h_table{width:100%;}
.h_table thead tr th{border: 1px solid #cbcbcb; border-top: 1px solid #000000; text-align: center; background-color:#f0f2f9; color:#000000; font-size: 15px; padding:8px 5px; font-weight:400;}
.h_table tbody tr td{text-align: center; padding:8px 10px; border: 1px solid #cbcbcb;}
.h_table tfoot tr td{text-align: center; padding:8px 10px; border: 1px solid #cbcbcb;}

/* ntable 스타일 */
.n_table{width:100%;}
.n_table tbody tr th, .n_table tbody tr td{text-align: left;}
.n_table tbody tr th, .n_table tfoot tr th{border: 1px solid #cbcbcb; background-color:#f0f2f9; color:#000000; font-size: 15px; padding:8px 10px; font-weight:400;}
.n_table tbody tr:first-child th, .n_table tbody tr:first-child td{border-top: 1px solid #000000; }
.n_table tbody tr td, .n_table tfoot tr td{padding:8px 10px; border-bottom: 1px solid #cbcbcb; border:1px solid #cbcbcb;}
.n_table td textarea{height: 100%;}

/* nhtable 스타일 */
.nh_table{width:100%;}
.nh_table thead tr th{border: 1px solid #cbcbcb; border-top: 1px solid #000000; text-align: center; background-color:#f0f2f9; color:#000000; font-size: 15px; padding:8px 5px; font-weight:400;}
.nh_table tbody tr th{border: 1px solid #cbcbcb; background-color:#f0f2f9; color:#000000; text-align: center; font-size: 15px; padding:8px 10px; font-weight:400;}
.nh_table tbody tr td{text-align: left; padding:8px 10px; border: 1px solid #cbcbcb; border:1px solid #cbcbcb;}
.nh_table tfoot tr th{border: 1px solid #cbcbcb; border-top: 1px solid #000000; text-align: center; background-color:#f0f2f9; color:#000000; font-size: 15px; padding:8px 5px; font-weight:400;}
.nh_table tfoot tr td{text-align: center; padding:8px 10px; border: 1px solid #cbcbcb; border:1px solid #cbcbcb;}

/* in_table 스타일 */
.h_table.in_table thead tr th,
.in_table tbody tr:first-child th,
.in_table tbody tr:first-child td,
.n_table.in_table tbody tr:first-child th,
.n_table.in_table tbody tr:first-child td{border-top: 0}

.in_table tbody td{background-color:#ffffff;}

.h_table.in_table thead tr th{border-right:1px solid #cbcbcb;}
.h_table.in_table thead tr th:first-child,
.h_table.in_table td:first-child,
.n_table.in_table th:first-child{border-left:0;}
.h_table.in_table thead tr th:last-child,
.h_table.in_table td:last-child,
.n_table.in_table td:last-child{border-right:0}
.h_table.in_table tr:last-child td{border-bottom:0;}
.in_table thead tr th, .in_table tbody tr td{text-align: center;}

.in_table.last_border tbody tr:last-child th, .in_table.last_border tbody tr:last-child td{border-bottom: 1px solid #cbcbcb;}
.in_table.first_border thead tr:first-child th{border-top: 1px solid #cbcbcb;}

.center_teable tbody tr th, .center_teable tbody tr td{text-align: center;}

/* 언어테이블 추가 스타일 */
.lang_table tbody tr:first-child th, .lang_table tbody tr:first-child td{border-top:1px solid #000000;}
.lang_table tbody tr td{text-align: left;}

/* pop 테이블 */
.pop_table tbody tr:first-child th, .pop_table tbody tr:first-child td{border-top:1px solid #000000;}

/* 테이블 버튼 스타일 */
.table_btns{float:right; margin-top:20px;}
.table_btns ul li{float:left;padding:0 5px;}

/* 언어 list style */
.lang_style_wrap {background-color: #efefef;}
.lang_style_wrap ul{margin:-0.5px;}
.lang_style_wrap ul li{float: left; box-sizing: border-box; width: calc( 20% - 1px); padding:5px 10px; margin:0.5px; background-color: #ffffff;}
.lang_style_wrap ul li label{font-weight: 400;}